
<main class="base-body page-introduction">
    <div class="box-content-b">
        <!-- S : tab -->
        <div class="tab-wrap-a">
            <ul class="tab-list">
                <li class="tab-item active"><a href="" class="link-tab">About Us</a></li>
                <li class="tab-item"><a href="" class="link-tab">이용가이드</a></li>
                <li class="tab-item"><a href="" class="link-tab">FAQ</a></li>
                <li class="tab-item"><a href="" class="link-tab">1:1 문의</a></li>
            </ul>
        </div>
        <!-- E : tab -->
        <div class="box-about">
            <div class="about-section-a">
                <p class="about-logo"><img src="/polaris/src/public/static/images/sub/about-logo.png" alt="POLARIS SHARE"></p>
                <p class="about-txt-a">지식 생산자와 수용자를 연결해주는 <span class="point-color-b">분산형 인센티브 지식 거래 시스템</span></p>
                <p class="about-txt-b">Knowledge(know-how, talent) Share</p>
            </div>
            <div class="about-section-b">
                <h2 class="about-title-a">Direction</h2>
                <p class="about-txt-c">
                    <span class="point-color-a">폴라리스 쉐어</span>는 연결을 통한 기업의 탈중앙화를 꾀하려 합니다.<br>
                    직접 고용없이 전세계에서 가장 적절한 기술을 가진 사람과 함께 일을 할 수 있고, 개인은 특정 기업에 소속되지 않으면서 자신이 원하는 시간과 공간에서 일을 하고 그에 대한 적절한 보상을 받을 수 있는 환경을
                    만들고자 합니다. 이 과정에서 많은 지식 및 지식 생산자들이 충분이 활용되지 않고 있음을 깨닫고 이러한 문제를 타계하기 위한 첫단계로 분산형 인센티브 지식 거래 시스템인 <span class="point-color-a">폴라리스 쉐어</span>를 구축하였습니다. 
                </p>
                <div class="box-direction">
                    <div class="direction-col-a"><img src="/polaris/src/public/static/images/sub/about-img-b.png" alt="폴라리스쉐어가 꿈꾸는 세상"></div>
                    <div class="direction-col-b">
                        <p class="direction-txt">폴라리스쉐어가 지향하는 <br>첫번째 단계<i class="triangle"></i></p>
                    </div>
                    <div class="direction-col-c"><img src="/polaris/src/public/static/images/sub/about-img-c.png" alt="나의 라이브러리 공유 (No Recurrent Knowledge)"></div>
                </div>
            </div>
            <div class="about-section-c">
                <h2 class="about-title-a">Power</h2>
                <div class="about-power">
                    <div class="power-item">
                        <div class="power-img"><img src="/polaris/src/public/static/images/sub/about-img-d.png" alt="POLARIS OFFICE"></div>
                        <p class="power-des">글로벌 사용자 1억명, 누적 문서 12억건의 ‘폴라리스오피스’ 데이터는 ‘폴라리스쉐어’ 플랫폼을 보다 빠르게 구동하고 사용자에게 안정적인 서비스를 제공가능하게 만들어준다.</p>
                    </div>
                    <div class="power-item">
                        <div class="power-img"><img src="/polaris/src/public/static/images/sub/about-img-e.png" alt="TACHYON"></div>
                        <p class="power-des">이더리움 창립 멤버 조셉 루빈이 설립한 컨센시스가 주목한 폴라리스쉐어. 이더리움 기반 블록체인 서비스와 응용 프로그램 개발 분야 글로벌 기업으로 폴라리스쉐어에 투자</p>
                    </div>
                </div>
            </div>
            <div class="about-btn-area">
                <button type="button" class="btn-basic-a">Polaris 기업 사이트 바로가기</button>
            </div>
        </div>
        <!--<div class="box-about">
            <div class="box-about-top">
                <p class="about-title"><img src="/polaris/src/public/static/images/sub/about-img-a.png" alt="about us"></p>
                <p class="about-des">중요한 정보가 담긴 방대한 수의 문서가 활용되지 않은 채로 클라우드나 하드 드라이브에서 잠자고 있습니다.<br />
                    많은 지식 생산자는 적절한 지식을 찾거나 그런 지식에 접근할 수 없기 때문에<br />
                    결국 같은 주제에 관한 작업을 불필요하게 반복하게 됩니다.</p>
                <p class="about-des">지식 생산자는 본인의 지식을 공유하고 판매함으로써 더 많은 이득을 얻을 기회를 놓치고 있습니다.</p>
            </div>
            <p class="about-txt">“Polaris 서비스는 지식 생산자와 수용자를 연결해주는 분산형 인센티브 지식 거래 시스템입니다.<br />
                이 프로젝트는 단순한 문서 공유 서비스 차원을 넘어서서 지식의 가치를 평가하고 지식을 거래함으로써<br />
                지식 생산자가 보상을 얻고 수용자는 낮은 비용으로 더 높은 품질의 지식을 얻을 수 있게 합니다.” </p>
            <div class="box-about-list">
                <div class="about-item">
                    <i class="sp-about-a"></i>
                    <p class="about-item-txt">문서 공유 및 판매</p>
                </div>
                <div class="about-item">
                    <i class="sp-about-b"></i>
                    <p class="about-item-txt">문서 찾기</p>
                </div>
                <div class="about-item">
                    <i class="sp-about-c"></i>
                    <p class="about-item-txt">문서 열람 및 투표</p>
                </div>
                <div class="about-item">
                    <i class="sp-about-d"></i>
                    <p class="about-item-txt">지식 생산자에 대한 보상</p>
                </div>
            </div>
            <div class="about-btn-area">
                <button type="button" class="btn-basic-a">Polaris 기업 사이트 바로가기</button>
            </div>
        </div>-->
    </div>
</main>