<div>
    <div class="big-event-wrap">
        <div class="big-event-inner">
            <p class="title-small">Beta Season</p>
            <p class="title-big">Big event</p>
            <p class="text-content-a">2020년 현재 폴라리스쉐어 서비스는 베타시즌으로 운영되고 있습니다.</p>
            <p class="text-content-a">지금 베타시즌에 업로드하시는 사용자에게는 본 시즌 전 에어드랍을 통해 <br><span class="text-point">어마어마한 혜택</span>을 제공할 예정이오니 많은 이용 바랍니다.</p>
            <p class="text-content-b">* 폴라리스오피스를 사용하시는 유저분은 폴라리스오피스를 통해서도 라이브러리를 업로드 하실 수 있습니다</p>
        </div>
    </div>
</div>