
<main class="base-body page-Mypage">
    <div class="box-content-b">

        <div class="box-member">
            <p class="member-top-logo"><i class="sp_member-logo"></i><span class="for-a11y">POLARIS SHARE</span></p>
            <h2 class="member-title-a">이메일 간편가입</h2>

            <div class="box-join">
                <!-- S : 이메일 -->
                <div class="box-join-section">
                    <h3 class="member-title-b">이메일</h3>
                    <div class="join-item-a">
                        <div class="join-col-form"><input type="text" class="form-input-c" /></div>
                        <div class="join-col-btn"><button type="button" class="btn-exception-a">인증하기</button></div>
                    </div>
                </div>
                <!-- E : 이메일 -->
                <!-- S : 비밀번호 -->
                <div class="box-join-section">
                    <h3 class="member-title-b">비밀번호</h3>
                    <div class="join-item-a">
                        <div class="join-col-form"><input type="password" class="form-input-c" placeholder="비밀번호를 입력해 주세요(6자 이상)" /></div>
                    </div>
                    <div class="join-item-a">
                        <div class="join-col-form"><input type="password" class="form-input-c" placeholder="비밀번호 확인" /></div>
                    </div>
                </div>
                <!-- E : 비밀번호 -->
                <!-- S : 약관동의 -->
                <div class="box-join-section">
                    <h3 class="member-title-b">약관동의</h3>
                    <ul class="member-agree">
                        <li class="list-item all">
                            <span class="box-checkbox-a">
                                <input type="checkbox" id="agree1" class="form-checkbox" />
                                <label for="agree1">모두 동의합니다.</label>
                            </span>
                        </li>
                        <li class="list-item">
                            <span class="box-checkbox-a">
                                <input type="checkbox" id="agree2" class="form-checkbox" />
                                <label for="agree2">만 14세 이상입니다. (필수)</label>
                            </span>
                        </li>
                        <li class="list-item">
                            <span class="box-checkbox-a">
                                <input type="checkbox" id="agree3" class="form-checkbox" />
                                <label for="agree3"><span class="point-color-a">서비스 이용약관</span>에 동의합니다. (필수)</label>
                            </span>
                        </li>
                        <li class="list-item">
                            <span class="box-checkbox-a">
                                <input type="checkbox" id="agree4" class="form-checkbox" />
                                <label for="agree4"><span class="point-color-a">개인정보 수집 • 이용</span>에 동의합니다. (필수)</label>
                            </span>
                        </li>
                        <li class="list-item">
                            <span class="box-checkbox-a">
                                <input type="checkbox" id="agree5" class="form-checkbox" />
                                <label for="agree5">이벤트 할인 혜택 알림 수신에 동의합니다. (선택)</label>
                            </span>
                        </li>
                        <li class="list-item">
                            <span class="box-checkbox-a">
                                <input type="checkbox" id="agree6" class="form-checkbox" />
                                <label for="agree6">장기 미접속 시 계정 활성 상태 유지합니다. (선택)</label>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- E : 약관동의 -->
            </div>

            <div class="member-btn-area-a">
                <button type="button" class="btn-basic-a">가입완료</button>
            </div>

        </div>

    </div>
</main>