
<main class="base-body page-Mypage">
    <div class="box-content-b">

        <div class="box-member">
            <p class="member-top-logo"><i class="sp_member-logo"></i><span class="for-a11y">POLARIS SHARE</span></p>
            <p class="txt-member-c">간편가입으로 Polaris Share의 서비스를 이용하실 수 있습니다.</p>

            <div class="join-type">
                <a href="" class="link-join-a"><i class="sp_member-join-a"></i>네이버 간편 가입하기</a>
                <a href="" class="link-join-b"><i class="sp_member-join-b"></i>이메일로 가입 하기</a>
                <a href="" class="link-join-c"><i class="sp_member-join-c"></i>LinkedIn 가입하기</a>
            </div>

        </div>

    </div>
</main>