
<main class="base-body page-Mypage">
    <div class="box-content-b">

        <div class="box-member">
            <p class="member-top-logo"><i class="sp_member-logo"></i><span class="for-a11y">POLARIS SHARE</span></p>
            <h2 class="member-title-a">로그인</h2>
            <!-- S : 로그인 -->
            <div class="box-join">
                <div class="box-join-section">
                    <div class="join-item-b">
                        <div class="join-col-form"><input type="text" class="form-input-c" placeholder="아이디" /></div>
                    </div>
                    <div class="join-item-b">
                        <div class="join-col-form"><input type="password" class="form-input-c" placeholder="비밀번호" /></div>
                    </div>
                    <div class="login-option">
                        <div class="login-item">
                            <span class="box-checkbox-b">
                                <input type="checkbox" id="save-id" class="form-checkbox" />
                                <label for="save-id">아이디 저장</label>
                            </span>
                        </div>
                        <div class="login-item">
                            <a href="" class="link-member">회원가입</a>
                            <a href="" class="link-member">아이디 &middot; 비밀번호 찾기</a>
                        </div>
                    </div>
                    <div class="btn-area-a">
                        <button type="button" class="btn-basic-a">로그인</button>
                    </div>
                </div>
            </div>
            <!-- E : 로그인 -->

            <div class="join-type">
                <a href="" class="link-join-a"><i class="sp_member-join-a"></i>네이버 로그인</a>
                <a href="" class="link-join-c"><i class="sp_member-join-c"></i>LinkedIn 로그인</a>
            </div>
        </div>

    </div>
</main>