
<main class="base-body page-Mypage">
    <div class="box-content-b">

        <div class="box-member">
            <p class="member-top-logo"><i class="sp_member-logo"></i><span class="for-a11y">POLARIS SHARE</span></p>
            <h2 class="member-title-a">비밀번호 변경하기</h2>
            <!-- S : 비밀번호 변경 -->
            <div class="box-join">
                <div class="box-join-section">
                    <h3 class="member-title-b">비밀번호 변경</h3>
                    <div class="join-item-b">
                        <div class="join-col-form"><input type="password" class="form-input-c" placeholder="새로운 비밀번호" /></div>
                    </div>
                    <div class="join-item-b">
                        <div class="join-col-form"><input type="password" class="form-input-c" placeholder="새로운 비밀번호 확인" /></div>
                    </div>
                    <div class="btn-area-a">
                        <button type="button" class="btn-basic-f medium">비밀번호 변경</button>
                    </div>
                </div>
            </div>
            <!-- E : 비밀번호 변경 -->
        </div>

    </div>
</main>