.box-error {padding:80px 0 100px}
.error-img-a {display:block;margin:0 auto;width:451px;height:462px;background:url(/polaris/src/public/static/images/common/error.png) no-repeat 50% 50%;background-size:100%}
.error-txt-a {font-size:50px;line-height:100%;margin-top:50px;text-align:center;color:#2d3b43;font-weight:200;word-break:keep-all}
.box-error-btn {margin-top:50px;text-align:center}
.box-error-btn .btn-basic-a {min-width:340px}
@media (max-width:1024px) {
    .error-img-a {width:226px;height:231px}
    .error-txt-a {font-size:32px}
}
@media (max-width:768px) {
    .error-txt-a {line-height:40px}
}
@media (max-width:500px) {
    .box-error-btn .btn-basic-a {min-width:100%}
}