.btn-skip{position:fixed;width:100%;padding:10px;background:#0059c9;color:#fff;text-align:center;z-index:999;top:-100px;transition:top .2s ease-in}
.btn-skip:focus{top:0}
.ellp {position:relative; overflow:hidden; display:inline-block; text-overflow:ellipsis; white-space:nowrap; word-break:normal;}

/* Layout --------------------------------------------------------------------------- */
.base-wrap{position:relative;width:100%}
.type-sub .base-body{padding-top:200px;max-width:1200px;margin:0 auto}
.type-sub-v2 .base-body{max-width:1600px;margin:0 auto; padding:170px 20px 0; box-sizing:border-box;}

.box-content-a {padding:70px 0 60px}
.box-content-b {padding:60px 0}
.box-content-c {padding:45px 0 60px}

/* layout inline-block */
.in-wrap{position:relative;font-size:0;margin:0}
.in-wrap > *,
.in-item{font-size:14px;display:inline-block;vertical-align:top;margin-top:0}
.in-item > * {vertical-align:top}
/* layout float */
.fl-wrap{position:relative;margin:0}
.fl-wrap:after{content:"";display:block;clear:both}
.fl-item-l{float:left;position:relative}
.fl-item-r{float:right;position:relative}

/* button --------------------------------------------------------------------------- */
.btn-wrap{width:100%;text-align:center}
.btn-wrap-r{width:100%;text-align:right}
.btn-more{height:25px;background:#0032a2;color:#fff;text-align:center;display:inline-block;padding:3px 15px;font-size:12px;border-radius:13px}

/* table */
.list-head{width:100%; position:relative;}
.tbl-list{width:100%; position:relative;}
.tbl-list table{table-layout: fixed; width:100%; margin:15px 0;}
.tbl-list thead th{background:#f5f5f5; font-size:18px; color:#000; padding:20px 10px; text-align:center; font-weight:500;}
.tbl-list tbody td{background:#fff; font-size:18px; color:#787878; padding:20px 10px; text-align:center; border-bottom:2px solid #eaeaea;}
.tbl-list tbody td a{display:block; text-align: left; width:100%; color:#353535; padding:0 20px}
.tbl-list tbody td a:focus,
.tbl-list tbody td a:hover{text-decoration:underline;}
.tbl-list tbody td .ellp.tit{font-size:18px;color:#353535;}
.tbl-list tbody td .ellp{width:100%; color:#a5a5a5; font-size:16px;}
.tbl-list i{display:inline-block; padding:0 10px; font-size:16px; vertical-align:top; color:#ccc}
.tbl-list strong{color:#308cfe; font-weight:500;}

.paging {margin:40px auto;position:relative;display:block;width:100%;text-align:center}
.paging button {display:inline-block;margin:0 5px;height:26px;vertical-align:middle}
.paging-first,
.paging-last,
.paging-prev,
.paging-next {width:26px;height:26px;border-radius:50%;}
.paging-num {padding:0 10px;color:#a0a0a0;font-size:16px}
.paging-num.current {color:#1b1b1b;font-weight: 500}
/* .paging-first {background:#d2d2d2 url() no-repeat 0 0}
.paging-last {background:#d2d2d2 url() no-repeat 100% 0}
.paging-prev {margin-right:10px;background:#d2d2d2 url() no-repeat 0 100%}
.paging-next {margin-left:10px;background:#d2d2d2 url() no-repeat 100% 100%} */


/* form --------------------------------------------------------------------------- */
/* select */
select {display:inline-block;position:relative;vertical-align:top;width:auto;height:40px;padding:0 40px 0 10px;border-radius:2px;
background:#fff url(/polaris/src/public/static/images/common/ico-select.png) no-repeat 100% 3px;appearance:none;-moz-appearance:none;-webkit-appearance:none;border:1px solid #c9c9c9;font-size:14px;cursor:pointer}
select::-ms-expand {display:none}
select optgroup,
select option {font-style:normal;background-color:#fff;font-size:13px}
select[disabled] {background-color:#f7f7f7;color:#888}
select:focus{border-color:#000}
.ie9 select {padding:0}

/* input */
.form-input-a {height:45px;background-color:#dedede;border-radius:0;border:none;padding:0 8px;box-sizing:border-box}
.form-input-b {height:54px;background-color:#fff;border-radius:0;border:1px solid #999;padding:0 12px;box-sizing:border-box;font-size:18px}

/* title */
.title-type-a {font-size:36px;color:#000;line-height:100%;font-weight:600}
.title-type-b {font-size:18px;color:#2d2d2d;line-height:20px;font-weight:600}
.title-type-c {font-size:20px;color:#444;line-height:20px;font-weight:600}
.title-type-d {font-size:42px;color:#000;line-height:100%;font-weight:400}

/* point color */
.point-color-a {color:#1d7ff9}
.point-color-b {color:#ff8400}

/* tab */
.tab-wrap-a {border-radius:12px;overflow:hidden;margin-bottom:54px}
.tab-wrap-a .tab-list {display:flex;background-color:#e2e6ec}
.tab-wrap-a .tab-list .tab-item {flex:1}
.tab-wrap-a .tab-list .tab-item .link-tab {position:relative;display:flex;align-items:center;justify-content:center;background-color:#e2e6ec;height:70px;font-size:26px;color:#727a83}
.tab-wrap-a .tab-list .tab-item ~ .tab-item .link-tab:before {content:'';position:absolute;left:0;top:0;bottom:0;width:1px;background-color:#fff}
.tab-wrap-a .tab-list .tab-item.active .link-tab {color:#fff;font-weight:600;background-color:#308cfe;border-radius:12px}
.tab-wrap-a .tab-list .tab-item.active + .tab-item .link-tab:before,
.tab-wrap-a .tab-list .tab-item.active .link-tab:before {display:none}

.tab-wrap-b {border:1px solid #e5e5e5; margin-bottom:30px}
.tab-wrap-b .tab-list {display:flex}
.tab-wrap-b .tab-list .tab-item {flex:1}
.tab-wrap-b .tab-list .tab-item .link-tab {display:flex;align-items:center;justify-content:center;text-align:center;width:100%;background-color:#fff;height:60px;font-size:20px;color:#656565}
.tab-wrap-b .tab-list .tab-item .link-tab.active {border:2px solid #308cfe;color:#308cfe;font-weight:600}
.tab-wrap-b .tab-list .tab-item ~ .tab-item {border-left:1px solid #e5e5e5}
.tab-wrap-b .tab-list .tab-item .count-value {color:#ff8400;font-size:16px;font-weight:600;margin-left:4px}

.ui-tab-pnl{display:none}
.ui-tab-pnl.visible{display:block}

/* write */
.box-write {padding:0 60px 50px;border-bottom:1px solid #d8d8d8}
.box-write .form-input-b {width:100%}
.write-item-a {position:relative;padding-right:210px}
.write-item-b {position:relative}
.write-item-b ~ .write-item-b,
.write-item-a ~ .write-item-a {margin-top:10px}
.write-item-b:after,
.write-item-a:after {content:'';display:block;clear:both}
.write-item-b .write-title,
.write-item-a .write-title {float:left;width:205px;font-size:18px;color:#000;vertical-align:middle;font-weight:500;line-height:54px}
.write-item-b .write-form,
.write-item-a .write-form {float:left;width:calc(100% - 205px)}
.write-item-a .write-btn {position:absolute;bottom:2px;right:0}
.write-item-a .write-btn .medium {line-height:48px}
.write-item-a .write-form .form-hidden {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
.write-item-a .write-form .upload-name::placeholder {color:#aaa}
.write-item-a .write-form .upload-name::-webkit-input-placeholder {color:#aaa}
.write-item-a .write-form .upload-name:-ms-input-placeholder {color:#aaa}
.write-item-b .write-form-b {float:left;width:45%;display:table}
.write-item-b .write-form-b .write-form-col {display:table-cell}
.write-item-b .write-form-b .write-form-col select {width:100%;border-color:#999;height:54px;background-position:100% 8px;font-size:18px}
.write-item-b .write-form-txt {display:table-cell;font-size:18px;color:#585757;line-height:54px;padding-left:20px;width:1%;white-space:nowrap}
.write-edit {margin-top:50px}

@media (max-width:1300px) {
    /* table */
    .tbl-list{width:100%; position:relative; overflow-x: auto;}
    .tbl-list table{table-layout: fixed; width:1000px; margin:5px 0;}
    .tbl-list thead th{font-size:16px;  padding:10px 5px; }
    .tbl-list tbody td{font-size:16px; padding:10px 5px; border-bottom:1px solid #eaeaea;}
    .tbl-list tbody td a{padding:0 10px}
    .tbl-list tbody td .ellp.tit{font-size:16px;}
    .tbl-list tbody td .ellp{font-size:14px;}
    .tbl-list i{padding:0 5px; font-size:16px; }

    /* tab */
    .tab-wrap-b .tab-list .tab-item .link-tab {font-size:16px}
    .tab-wrap-b .tab-list .tab-item .count-value {font-size:12px}
}

@media (max-width:1024px) {
    

    .type-sub .base-body{padding-top:100px}
    .type-sub-v2 .base-body{padding-top:100px}

    /* tab */
    .tab-wrap-a .tab-list .tab-item .link-tab {font-size:22px}

    .tab-wrap-b {overflow-x:auto;-webkit-overflow-scrolling:touch}
    .tab-wrap-b .tab-list {flex-wrap:nowrap}
    .tab-wrap-b .tab-list .tab-item {flex:none;width:220px}

    /* write */
    .box-write {padding:0 20px 40px}
    .write-item-a {padding-right:140px}
    .write-item-a .write-btn .medium {min-width:130px}
    .write-item-b .write-title,
    .write-item-a .write-title {width:180px}
    .write-item-b .write-form-b,
    .write-item-b .write-form,
    .write-item-a .write-form {width:calc(100% - 180px)}
    .write-item-a .write-form .upload-name::placeholder {font-size:16px}
    .write-item-a .write-form .upload-name::-webkit-input-placeholder {font-size:16px}
    .write-item-a .write-form .upload-name:-ms-input-placeholder {font-size:16px}
}
@media (max-width:768px) {
    /* layout */
    .box-content-a {padding:60px 0}

    /* title */
    .title-type-a {font-size:28px}
    .title-type-d {font-size:32px}

    /* tab */
    .tab-wrap-a {border-radius:8px;margin-bottom:30px}
    .tab-wrap-a .tab-list .tab-item .link-tab {font-size:18px;height:52px}
    .tab-wrap-a .tab-list .tab-item.active .link-tab {border-radius:12px}
    .tab-wrap-a .tab-list .tab-item {flex:auto}

    /* write */
    .box-write {padding:0 0 40px}
    .write-item-a .write-title,
    .write-item-b .write-title {display:block;width:100%;line-height:30px;padding-bottom:4px;float:none}
    .write-item-a .write-form,
    .write-item-b .write-form,
    .write-item-b .write-form-b {width:100%}
}
@media (max-width:500px) {
    .box-content-b {padding:30px 0 60px}

    /* tab */
    .tab-wrap-a .tab-list .tab-item .link-tab {font-size:14px}

    /* write */
    .write-item-a {padding-right:0}
    .write-item-a .write-title,
    .write-item-b .write-title {font-size:16px}
    .write-item-a .write-form,
    .write-item-b .write-form {float:none}
    .write-item-a .write-form .upload-name::placeholder {font-size:14px}
    .write-item-a .write-form .upload-name::-webkit-input-placeholder {font-size:14px}
    .write-item-a .write-form .upload-name:-ms-input-placeholder {font-size:14px}
    .write-item-a .write-btn {position:static;margin-top:8px}
    .write-item-a .write-btn [class^="btn-basic-"] {width:100%}
}



