.btn-skip{position:fixed;width:100%;padding:10px;background:#0059c9;color:#fff;text-align:center;z-index:999;top:-100px;transition:top .2s ease-in}
.btn-skip:focus{top:0}

/* Layout --------------------------------------------------------------------------- */
.base-wrap{position:relative;width:100%}
.type-sub .base-body{padding-top:200px;max-width:1200px;margin:0 auto}
.type-sub-v2 .base-body{padding-top:170px;max-width:1600px;margin:0 auto}

.box-content-a {padding:70px 20px 60px}

/* layout inline-block */
.in-wrap{position:relative;font-size:0;margin:0}
.in-wrap > *,
.in-item{font-size:14px;display:inline-block;vertical-align:top;margin-top:0}
.in-item > * {vertical-align:top}
/* layout float */
.fl-wrap{position:relative;margin:0}
.fl-wrap:after{content:"";display:block;clear:both}
.fl-item-l{float:left;position:relative}
.fl-item-r{float:right;position:relative}

/* button --------------------------------------------------------------------------- */
.btn-wrap{width:100%;text-align:center}
.btn-more{height:25px;background:#0032a2;color:#fff;text-align:center;display:inline-block;padding:3px 15px;font-size:12px;border-radius:13px}

/* table */
.list-head{width:100%; position: relative;}


/* form --------------------------------------------------------------------------- */
/* select */
select {display:inline-block;position:relative;vertical-align:top;width:auto;height:40px;padding:0 40px 0 10px;border-radius:2px;
background:#fff url(/polaris/src/public/static/images/common/ico-select.png) no-repeat 100% 3px;appearance:none;-moz-appearance:none;-webkit-appearance:none;border:1px solid #c9c9c9;font-size:14px;cursor:pointer}
select::-ms-expand {display:none}
select optgroup,
select option {font-style:normal;background-color:#fff;font-size:13px}
select[disabled] {background-color:#f7f7f7;color:#888}
select:focus{border-color:#000}
.ie9 select {padding:0}

@media (max-width:1024px) {
    .type-sub .base-body{padding-top:100px}
    .type-sub-v2 .base-body{padding-top:100px}


}

/* title */
.title-type-a {font-size:36px;color:#000;line-height:100%;font-weight:600}
.title-type-b {font-size:18px;color:#2d2d2d;line-height:20px;font-weight:600}
.title-type-c {font-size:20px;color:#444;line-height:20px;font-weight:600}


/* tab */
.tab-wrap-a {border-radius:22px;overflow:hidden;margin-bottom:54px}
.tab-list {display:flex;background-color:#e2e6ec}
.tab-list .tab-item {flex:1}
.tab-list .tab-item .link-tab {display:flex;align-items:center;justify-content:center;background-color:#e2e6ec;height:70px;font-size:28px;color:#727a83}
.tab-list .tab-item .link-tab.active {color:#fff;font-weight:600;background-color:#308cfe;border-radius:22px}
@media (max-width:1024px) {
    /* tab */
    .tab-list .tab-item .link-tab {font-size:22px}
}
@media (max-width:768px) {
    /* layout */
    .box-content-a {padding:60px 20px}

    /* title */
    .title-type-a {font-size:28px}

    /* tab */
    .tab-wrap-a {border-radius:12px;margin-bottom:30px}
    .tab-list .tab-item .link-tab {font-size:18px;height:52px}
    .tab-list .tab-item .link-tab.active {border-radius:12px}
    .tab-list .tab-item {flex:auto}
}
@media (max-width:500px) {
    /* tab */
    .tab-list .tab-item .link-tab {font-size:14px}
}



