.header-wrap{position:absolute; width:100%; max-width:1200px; height:100px; top:0; left:50%; z-index:100; transform:translate(-50%, 0)}
.header-logo{position:absolute; top:30px; left:0; background:url(/polaris/src/public/static/images/common/logo.png) no-repeat 0 0; width:450px; height:46px;}
.header-search{position:absolute; top:120px; width:348px; height:58px; }
.header-search input{width:100%; height:100%; padding:5px 70px 5px 10px; border:1px solid #c7e0ff; background:#fff; }
.header-search input:focus{outline:0; border-color:#0059c9}
.btn-search{position:absolute; top:0; right:0; width:58px; height:58px; background:url(/polaris/src/public/static/images/common/btn-search.png) no-repeat 0 0;}
.btn-login{position:absolute; top:30px; right:0; width:116px; height:40px; background:#fff; border-radius:20px; color:#6e6e6e; font-size:14px; padding:0 22px;}
.btn-login:before{content:""; display:inline-block; width:24px; height:24px; background:url(/polaris/src/public/static/images/common/ico-login.png) no-repeat 0 0; vertical-align:middle; margin-right:5px; }
.btn-login span{display:inline-block; vertical-align:middle;}

.base-header .btn-upload{position:absolute; top:640px; right:0; width:110px; height:110px; background:#0032a2; color:#fff; border-radius:50%; border:7px solid #215ce1; font-size:14px; transition: border .4s ease-in; z-index:10; text-transform:uppercase;}
.base-header .btn-upload span{display:none;}
.base-header .btn-upload::before{content:""; display:block; width:60px; height:60px; background:url(/polaris/src/public/static/images/main/ico-docinfo.png) no-repeat 0 -30px; margin:-5px auto; }
.base-header .btn-upload:hover,
.base-header .btn-upload:focus{border-width:0;}

/* sub */
.type-sub .base-header{position:absolute; width:100%; max-width:1200px;left:50%; z-index:100; transform:translate(-50%, 0)}
.type-sub .header-wrap{background:url(/polaris/src/public/static/images/common/bg-header-sub.png) no-repeat 610px 0 / contain; height:169px; z-index:11; }
.type-sub .header-search{left:672px; top:22px; }
.type-sub .base-header .btn-upload{top:92px; left:730px; border:0; width:240px; height:60px; border-radius:30px; font-size:24px; text-transform: capitalize; z-index:99;}
.type-sub .base-header .btn-upload::before{display:inline-block; vertical-align:middle; transform: scale(0.8);}
.type-sub .base-header .btn-upload b{display:inline-block; vertical-align:middle;}
.type-sub .btn-login{border:1px solid #dfdede}





/* sub v2 */
.type-sub-v2 .header-wrap{height:170px; z-index:11; max-width:1600px; padding:0 20px;}
.type-sub-v2 .header-logo{left:20px}
.type-sub-v2 .base-header:after{content:""; display:block; width:100%; position: absolute; top:100px; left:0; height:70px; background:#eef1f5;}
.type-sub-v2 .header-search{left:515px; top:24px; width:23vw; max-width:450px; height:50px;}
.type-sub-v2 .btn-search{width:50px; height:50px; background-size: cover;}
.type-sub-v2 .header-wrap .btn-upload{top:30px; left:auto; right:155px; border:0; width:125px; height:40px; border-radius:10px; font-size:14px; text-transform: capitalize;}
.type-sub-v2 .header-wrap .btn-upload::before{display:inline-block; vertical-align:middle; transform: scale(0.5);  margin:-11px 0 0 -10px;  }
.type-sub-v2 .header-wrap .btn-upload b{display:inline-block; vertical-align:middle; font-size:14px; margin:-10px 0 0 -10px;}
.type-sub-v2 .btn-login{border:1px solid #dfdede; width:125px; border-radius:10px; right:20px}

@media (max-width:1024px) {

    .header-wrap{position:fixed; top:0; left:0; width:100%; transform:none;}
    .type-sub .header-wrap,
    .header-wrap{background:rgba(29,35,42,0.9); height:57px;}
    .header-logo{position:absolute; top:11px; left:20px; background:url(/polaris/src/public/static/images/common/logo-m.png) no-repeat 0 0 / contain; width:85px; height:36px;}

    .type-sub .header-search,
    .header-search{position:absolute; top:11px; right:55px; left:auto; width:50vw; height:36px; }
    .header-search input{width:100%; height:100%; padding:5px 38px 5px 12px; border:0; border-radius:10px; background:#242d37; color:#fff; font-size:17px; letter-spacing:-0.07em;}
    .btn-search{width:40px; height:36px; background:url(/polaris/src/public/static/images/common/btn-search-m.png) no-repeat 0 0/ contain;}

    .type-sub .btn-login,
    .btn-login{position:absolute; top:11px; right:15px; width:36px; height:36px; background:transparent; border-radius:0; padding:0; background:url(/polaris/src/public/static/images/common/ico-login-m.png) no-repeat 0 0 / contain; border:0; }
    .btn-login:before,
    .btn-login span{display:none}

    .type-sub .header-wrap .btn-upload{position:absolute; top:70vw; left:20vw; right:auto; width:60vw; height:15vw; background:#3ec6ff; color:#fff; border-radius:8vw; border:0; font-size:6vw; transition: border .4s ease-in;}

    .type-sub .base-header .btn-upload{display:block; background:#3dc6ff; top:57px; left:0; border:0; width:100%; height:45px; border-radius:0; font-size:22px; text-transform:uppercase;}
    .type-sub .base-header .btn-upload::before{display:inline-block; vertical-align:middle; transform: scale(0.5); margin-top:-7px;}
    .type-sub .base-header .btn-upload b{display:inline-block; vertical-align:middle; margin-top: -5px;}
    .type-sub .base-header .btn-upload span{display:inline-block; vertical-align:middle; margin-top: -5px;}
    

    .header-wrap .btn-upload{display:none}
    .header-wrap .btn-upload span{display:inline;}
    .header-wrap .btn-upload::before{display:none}
    .header-wrap .btn-upload:hover,
    .header-wrap .btn-upload:focus{border-width:0;}

    .type-sub .header-wrap,
    .header-wrap{background:rgba(29,35,42,0.9); height:57px;}
    .header-logo{position:absolute; top:11px; left:20px; background:url(/polaris/src/public/static/images/common/logo-m.png) no-repeat 0 0 / contain; width:85px; height:36px;}

    /* sub v2*/
    .type-sub-v2 .base-header:after{display:none;}
    .type-sub-v2 .header-wrap{height:100px;}
    .type-sub-v2 .header-search,
    .type-sub-v2 .header-search{position:absolute; top:11px; right:90px; left:auto; width:40vw; height:36px; }
    .type-sub-v2 .btn-search{width:40px; height:36px; background:url(/polaris/src/public/static/images/common/btn-search-m.png) no-repeat 0 0/ contain;}

    .type-sub-v2 .btn-login,
    .btn-login{position:absolute; top:11px; right:15px; width:36px; height:36px; background:transparent; border-radius:0; padding:0; background:url(/polaris/src/public/static/images/common/ico-login-m.png) no-repeat 0 0 / contain; border:0; }
    .btn-login:before,
    .btn-login span{display:none}

    .type-sub-v2 .base-header .btn-upload,
    .type-sub-v2 .base-header .btn-upload{position:fixed; top:17px; left:auto; right:56px; width:24px; z-index: 99; height:24px; background:#3ec6ff; color:#fff; border-radius:50%; border:0; font-size:6vw; transition: border .4s ease-in;}
    .type-sub-v2 .base-header .btn-upload b,
    .type-sub-v2 .base-header .btn-upload span{display:none;}
    .type-sub-v2 .base-header .btn-upload::before{display:block; transform:scale(0.4); margin-left:-17px; margin-top:-17px}
    .type-sub-v2 .base-header .btn-upload:hover,
    .type-sub-v2 .base-header .btn-upload:focus{border-width:0;}

    .type-sub-v2 .base-header:after {display:none}

}
@media (max-width:768px) {
    
}