
<main class="base-body page-library">
    <div class="box-content-b">
        <!-- S : tab -->
        <div class="tab-wrap-a">
            <ul class="tab-list">
                <li class="tab-item"><a href="" class="link-tab">About Us</a></li>
                <li class="tab-item"><a href="" class="link-tab">이용가이드</a></li>
                <li class="tab-item"><a href="" class="link-tab">FAQ</a></li>
                <li class="tab-item active"><a href="" class="link-tab">1:1 문의</a></li>
            </ul>
        </div>
        <!-- E : tab -->
        <div class="box-write">
            <div class="write-item-b">
                <div class="write-title">제목</div>
                <div class="write-form"><input type="text" class="form-input-b" /></div>
            </div>
            <div class="write-item-b">
                <div class="write-title">문의 구분</div>
                <div class="write-form-b">
                    <div class="write-form-col">
                        <select name="" id="">
                            <option value="">회원가입</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="write-edit">
                에디트 영역
            </div>
        </div>
        <div class="btn-area-a">
            <button type="button" class="btn-basic-a"><span>작성완료</span></button>
            <button type="button" class="btn-basic-b"><span>취소</span></button>
        </div>
    </div>
</main>