<style>
    /* 사용후기 */
    .view-inquiry .col-2 {width:auto}
    .view-inquiry .col-3 {width:200px}
    .view-inquiry .col-4 {width:200px}
    .view-inquiry .col-5 {width:200px}
    .view-inquiry tbody td:first-child { text-align: left;}
    .view-inquiry {margin-top:30px}
    .view-inquiry .tit-b {padding-left:60px}
    .view-inquiry .view-content {margin-bottom:20px}
    .view-inquiry .btn-wrap-r button{width:auto !important; min-width:0; padding:0 30px}
    .view-inquiry .view-content strong{font-weight:600;}

    @media (max-width:1300px) {
        /* table */
        .view-inquiry .tbl-list {width:100%;position:relative;overflow:visible;-webkit-overflow-scrolling:touch; border-bottom:1px solid #eaeaea; }
        .view-inquiry .tbl-list table {width:100%}
        .view-inquiry .tbl-list thead{display:none;}
        .view-inquiry .tbl-list tbody,
        .view-inquiry .tbl-list tr,
        
        .view-inquiry .tbl-list table{display:block; margin:0}
        .view-inquiry .tbl-list td{display: inline-block; border:0 ; text-align: left;}
        .view-inquiry .tbl-list td:first-child{width:100%; color:#000; padding-bottom:0;}

        .view-inquiry .tbl-list td:nth-child(2){float:right}
        .view-inquiry .view-content{padding:15px; background:#f9f9f9}
    }

    @media (max-width:768px) {
        .view-inquiry .tit-b {padding-left:0}
        .view-inquiry .col-4 {width:120px}
        .view-inquiry .col-5 {width:80px}
    }
</style>
<div>
    <div class="view-inquiry">
        <div class="tbl-list">
            <table>
            <caption>답변유무, 제목, 답변시간, 보낸시간 정보의 작성한 문의내역</caption>
            <colgroup>
                <col class="col-2">
                <col class="col-3">
                <col class="col-4">
                <col class="col-5">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">답변유무</th>
                    <th scope="col">답변시간</th>
                    <th scope="col">보낸시간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를
                    </td>
                    <td>
                        <div class="components-gn-dropmenu"></div>
                    </td>
                    <td>2020.06.25 12:00</td>
                    <td>2020.06.25 12:00</td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class="view-content">
            <div>
                <p><strong>[답변]</strong></p>
                <p>
                    노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를
                </p>
                <br>
                <p>================================================</p>
                <br>
                <p><strong>[문의내용]</strong></p>
                <p>
                    노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를
                </p>
            </div>
        </div>

        <div class="btn-wrap-r">
            <button type="button" class="btn-exception-b"><span>목록</span></button>
        </div>

    </div>
</div>
