.big-event-wrap {background-color:#0059c9;min-width:1200px}
.big-event-inner {max-width:1200px;padding:45px 28px;margin:0 auto}
.big-event-inner .title-small {font-size:20px;color:#9ce2ff;line-height:24px}
.big-event-inner .title-big {font-size:45px;color:#fff;font-weight:500;line-height:50px}
.big-event-inner .text-content-a {font-size:18px;line-height:30px;color:#fff}
.big-event-inner .text-content-b {font-size:15px;line-height:30px;color:#fff}