
<main class="base-body page-Mypage">
    <div class="box-content-b">
        <!-- S : tab -->
        <div class="tab-wrap-a">
            <ul class="tab-list">
                <li class="tab-item"><a href="" class="link-tab">My Wallet</a></li>
                <li class="tab-item active"><a href="" class="link-tab">My Menu</a></li>
            </ul>
        </div>
        <!-- E : tab -->

        <!-- S : tab -->
        <div class="tab-wrap-b small">
            <ul class="tab-list">
                <li class="tab-item"><button type="button" class="link-tab">팔로우</button></li>
                <li class="tab-item"><button type="button" class="link-tab">쪽지함<span class="count-value">[12]</span></button></li>
                <li class="tab-item"><button type="button" class="link-tab">업로드 내역</button></li>
                <li class="tab-item"><button type="button" class="link-tab">작성 게시물</button></li>
                <li class="tab-item"><button type="button" class="link-tab">Bookmark</button></li>
                <li class="tab-item"><button type="button" class="link-tab">정보수정</button></li>
                <li class="tab-item"><button type="button" class="link-tab">작성 댓글</button></li>
                <li class="tab-item"><button type="button" class="link-tab">문의 내역</button></li>
            </ul>
        </div>
        <!-- E : tab -->

        <div class="box-member">
            <div class="member-title-wrap">
                <h2 class="title-type-d">회원 탈퇴 완료</h2>
                <i class="member-icon-b"></i>
            </div>
            <!-- S : 선택 영역 -->
            <div class="box-member-b">
                <div class="box-member-txt">
                    <p class="txt-member-b">회원탈퇴가 완료되었습니다.<br />이전에 같은 계정으로는 가입이 불가하십니다. <br /><br />감사합니다.</p>
                </div>
            </div>
            <!-- E : 동의 영역 -->

            <div class="member-btn-area-a">
                <button type="button" class="btn-basic-f">메인 페이지로 이동</button>
            </div>

        </div>

    </div>
</main>