
<main class="base-body page-Mypage">
    <div class="box-content-b">
        <!-- S : tab -->
        <div class="tab-wrap-a">
            <ul class="tab-list">
                <li class="tab-item"><a href="" class="link-tab">My Wallet</a></li>
                <li class="tab-item active"><a href="" class="link-tab">My Menu</a></li>
            </ul>
        </div>
        <!-- E : tab -->

        <!-- S : tab -->
        <div class="tab-wrap-b small">
            <ul class="tab-list">
                <li class="tab-item"><button type="button" class="link-tab">팔로우</button></li>
                <li class="tab-item"><button type="button" class="link-tab">쪽지함<span class="count-value">[12]</span></button></li>
                <li class="tab-item"><button type="button" class="link-tab">업로드 내역</button></li>
                <li class="tab-item"><button type="button" class="link-tab">작성 게시물</button></li>
                <li class="tab-item"><button type="button" class="link-tab">Bookmark</button></li>
                <li class="tab-item"><button type="button" class="link-tab">정보수정</button></li>
                <li class="tab-item"><button type="button" class="link-tab">작성 댓글</button></li>
                <li class="tab-item"><button type="button" class="link-tab">문의 내역</button></li>
            </ul>
        </div>
        <!-- E : tab -->

        <div class="box-member">
            <div class="member-title-wrap">
                <h2 class="title-type-d">회원 탈퇴 사유</h2>
                <i class="member-icon-a"></i>
            </div>
            <!-- S : 선택 영역 -->
            <div class="box-member-b">
                <ul class="list-type-a">
                    <li class="list-item">
                        <span class="box-checkbox-a">
                            <input type="checkbox" id="agree1" class="form-checkbox">
                            <label for="agree1">다른 계정이름으로 사용하기 위해서 </label>
                        </span>
                    </li>
                    <li class="list-item">
                        <span class="box-checkbox-a">
                            <input type="checkbox" id="agree2" class="form-checkbox">
                            <label for="agree2">사용빈도가 낮아서</label>
                        </span>
                    </li>
                    <li class="list-item">
                        <span class="box-checkbox-a">
                            <input type="checkbox" id="agree3" class="form-checkbox">
                            <label for="agree3"><span class="point-color-a">사이트 이용시 장애가 많아서</label>
                        </span>
                    </li>
                    <li class="list-item">
                        <span class="box-checkbox-a">
                            <input type="checkbox" id="agree4" class="form-checkbox">
                            <label for="agree4"><span class="point-color-a">서비스의 질에 대한 불만이 있어서</label>
                        </span>
                    </li>
                    <li class="list-item">
                        <span class="box-checkbox-a">
                            <input type="checkbox" id="agree5" class="form-checkbox">
                            <label for="agree5">사이트 이용시 고객응대가 나빠서</label>
                        </span>
                    </li>
                    <li class="list-item">
                        <span class="box-checkbox-a">
                            <input type="checkbox" id="agree6" class="form-checkbox">
                            <label for="agree6">기타 (아래 적어주세요)</label>
                        </span>
                        <div class="box-textarea">
                            <textarea name="" id="" class="form-textarea-a"></textarea>
                            <p class="txt-member-a">지급된 달러나 POLA는 탈퇴와 함께 자동 소멸됩니다.  탈퇴 전 확인하시기 바랍니다.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- E : 동의 영역 -->

            <div class="member-btn-area-a">
                <button type="button" class="btn-basic-g">탈퇴확인</button>
            </div>

        </div>

    </div>
</main>