<style>
    /* 사용후기 */
    .list-bookmake .col-1 {width:100px}
    .list-bookmake .col-2 {width:auto}
    .list-bookmake .col-3 {width:200px}
    .list-bookmake .col-4 {width:200px}
    .list-bookmake .col-5 {width:100px}
    .list-bookmake .col-6 {width:100px}
    .list-bookmake tbody td .ellp{color:#787878; font-size:18px; display:inline-block; padding-top:3px }
    @media (max-width:1024px) {

    }
</style>
<div>
    <div class="list-head fl-wrap">
        <div class="fl-item-r">
            <div class="components-search-list"></div>
        </div>
    </div>
    <div class="list-bookmake">
        <div class="tbl-list">
            <table>
            <caption>번호, 제목, 받은회원, 학인시간, 보낸시간 정보의 작성한 사용후기 목록</caption>
            <colgroup>
                <col class="col-1">
                <col class="col-2">
                <col class="col-3">
                <col class="col-4">
                <col class="col-5">
                <col class="col-6">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">원글 제목</th>
                    <th scope="col">게시물 종류</th>
                    <th scope="col">확인시간</th>
                    <th scope="col">조회수</th>
                    <th scope="col">공감수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2333</td>
                    <td>
                        <a href="#">
                            <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                        </a>
                    </td>
                    <td><strong>사용후기</strong></td>
                    <td>2020.06.25 12:00</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>2333</td>
                    <td>
                        <a href="#">
                            <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                        </a>
                    </td>
                    <td><strong>사용후기</strong></td>
                    <td>2020.06.25 12:00</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>2333</td>
                    <td>
                        <a href="#">
                            <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                        </a>
                    </td>
                    <td><strong>사용후기</strong></td>
                    <td>2020.06.25 12:00</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class="components-paging"></div>
    </div>
</div>
<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //components 불러오기
        $plugins.uiPageLoad('/polaris/src/components/common/DropMenu.html', 'components-gn-dropmenu', function(v){
            $('.components-gn-dropmenu > *').unwrap();
        })
        .then($plugins.uiPageLoad('/polaris/src/components/body/items/Search-list.html', 'components-search-list', function(v){
            $('.components-search-list > *').unwrap();
        }))
        .then($plugins.uiPageLoad('/polaris/src/components/common/paging.html', 'components-paging', function(v){
            $('.components-paging > *').unwrap();
        }));


    })(jQuery, window, document);

</script> 
