
<main class="base-body page-Mypage">
    <div class="box-content-b">
        <!-- S : tab -->
        <div class="tab-wrap-a">
            <ul class="tab-list">
                <li class="tab-item"><a href="" class="link-tab">My Wallet</a></li>
                <li class="tab-item active"><a href="" class="link-tab">My Menu</a></li>
            </ul>
        </div>
        <!-- E : tab -->
        <!-- S : user item -->
        <div class="components-user-item-g"></div>
        <!-- E : user item -->

        <div class="exchange-group">
            <h2 class="exchange-title">달러로 환전하기</h2>
            <div class="exchange-item">
                <div class="exchange-col-group">
                    <div class="exchange-col-form"><input type="text" class="form-input-b" /></div>
                    <div class="exchange-col-txt">POLA</div>
                </div>
                <div class="exchange-col-group">
                    <div class="exchange-col-form"><input type="text" class="form-input-b" /></div>
                    <div class="exchange-col-txt">달러</div>
                </div>
            </div>
            <div class="exchange-btn">
                <button type="button" class="btn-basic-a">환전하기</button>
            </div>
        </div>

        <div class="exchange-group">
            <h2 class="exchange-title">POLA로 환전하기</h2>
            <div class="exchange-item">
                <div class="exchange-col-group">
                    <div class="exchange-col-form"><input type="text" class="form-input-b" /></div>
                    <div class="exchange-col-txt">달러</div>
                </div>
                <div class="exchange-col-group">
                    <div class="exchange-col-form"><input type="text" class="form-input-b" /></div>
                    <div class="exchange-col-txt">POLA</div>
                </div>
            </div>
            <div class="exchange-btn">
                <button type="button" class="btn-basic-a">환전하기</button>
            </div>
        </div>

    </div>
</main>

<script>
    ;(function($, win, doc, undefined) {
        'use strict';

        var callbackItem1 = function(v){
            //아이템 1개
            $('.components-user-item-g .user-item-g').unwrap();
        }

        $plugins.uiPageLoad('/polaris/src/components/body/items/user-item-g.html', 'components-user-item-g', callbackItem1)


    })(jQuery, window, document);

</script>