
<style>
    .tab-mypage{border:0; text-align:center; position: relative; display: inline-block ; width:100%;}
    .tab-mypage .btn-basic-f{font-size:14px; position: absolute; top:0; right:0; min-width:0; margin-top:7px;}
    .tab-mypage button{font-size:24px;}
    .tab-mypage .tab-list .tab-item button.active{color:#308cfe; font-weight:600; border-bottom:1px solid #308cfe;}
    /* tab in tab */

    .tab-mypage .combo-tab{width:100%; max-width:540px; text-align-last:center;}
    .user-list-b{margin-bottom:50px}

    @media (max-width:1300px) {
        .tab-mypage .combo-tab{max-width:100%;}
        .tab-mypage .btn-basic-f{position: relative; float: right;}
    }
</style>

<div>
    
    My Wallet

  
</div>


<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        

    })(jQuery, window, document);

</script> 