<style>    
    .ui-modal.type-share .ui-modal-wrap{width:900px; margin:20px 0; padding:40px 60px; border-radius:0; background:#fff; border:3px solid #2a2b2d; text-align: center;}
    .ui-modal.type-share .btn-basic-f{min-width:160px}
    .ui-modal.type-share .modal-tit{font-size:24px; text-align: left; margin-bottom:20px;}
    .ui-modal.type-share .write-item-c{margin-bottom:40px}
    .ui-modal.type-share .write-form label{width:180px; display:inline-block; margin-right:10px; font-size:18px; color:#000; text-align: left; vertical-align:middle;}
    .ui-modal.type-share .write-form .form-textarea-b,
    .ui-modal.type-share .write-form .form-input-b{width:calc(100% - 320px); display:inline-block; vertical-align:middle}
    .ui-modal.type-share .write-form .btn-exception-a{width:120px; min-width:0; display:inline-block; margin-left:10px; vertical-align:middle}

    .ui-modal.type-share .share-wrap{text-align: left;}
    .ui-modal.type-share .share-wrap button{margin-right:20px}
    .ico-share-1{display:inline-block; width:50px; height:50px; background:url(/polaris/src/public/static/images/common/ico-share-1.png) no-repeat 0 0 / cover;}
    .ico-share-2{display:inline-block; width:50px; height:50px; background:url(/polaris/src/public/static/images/common/ico-share-2.png) no-repeat 0 0 / cover;}
    .ico-share-3{display:inline-block; width:50px; height:50px; background:url(/polaris/src/public/static/images/common/ico-share-3.png) no-repeat 0 0 / cover;}

    @media (max-width:1024px) {
         .ui-modal.type-share .ui-modal-wrap{width:100%; min-height:100%; margin:0; padding:20px;}
         .ui-modal.type-share .write-form label{width:100%; display:inline-block; margin-right:10px; font-size:18px; color:#000; text-align: left; vertical-align:middle;}
    .ui-modal.type-share .write-form .form-textarea-b,
    .ui-modal.type-share .write-form .form-input-b{width:calc(100% - 120px); display:inline-block; vertical-align:middle; margin:5px 0;}
    .ui-modal.type-share .write-form .btn-exception-a{width:100px; min-width:0; display:inline-block; margin-left:10px; vertical-align:middle}
    .ui-modal.type-share .share-wrap button{margin-right:10px}
    .ico-share-1{display:inline-block; width:25px; height:25px; }
    .ico-share-2{display:inline-block; width:25px; height:25px; }
    .ico-share-3{display:inline-block; width:25px; height:25px; }
    }
</style>
<div>
    <div class="ui-modal type-share" id="modal_share">
        <div class="ui-modal-wrap">
            <h1 class="modal-tit">회원검색</h1>
            <div class="modal-cont">
                <div class="share-wrap">
                    <button type="button" class="ico-share-1"><span class="hide">in</span></button>
                    <button type="button" class="ico-share-2"><span class="hide">facebook</span></button>
                    <button type="button" class="ico-share-3"><span class="hide">twitter</span></button>
                </div>
                <div class="write-item-c">
                    <div class="write-form ">
                        <label for="shareEmail">Email</label>
                        <input type="text" class="form-input-b" id="shareEmail" value="" title="Email" />
                        <button type="button" class="btn-exception-a" onclick="$plugins.modalOpen('modal_alert')"><span>send</span></button>
                    </div>
                    <div class="write-form">
                        <label for="shortUrl">Short URL</label>
                        <input type="text" class="form-input-b" id="shortUrl" value="" title="Short URL" />
                        <button type="button" class="btn-exception-a"><span>copy</span></button>
                    </div>
                    <div class="write-form">
                        <label for="embedUrl">Embed URL</label>
                        <textarea type="text" class="form-textarea-b" id="embedUrl" value="" title="Embed URL" rows="2" ></textarea>
                        <button type="button" class="btn-exception-a"><span>copy</span></button>
                    </div>
                    <div class="write-form">
                        <label for="embedTag">Embed &lt;/&gt;</label>
                        <textarea type="text" class="form-textarea-b" id="embedTag" value="" title="Embed tag" rows="4" ></textarea>
                        <button type="button" class="btn-exception-a"><span>copy</span></button>
                    </div>
                </div>

                
                <button type="button" class="btn-basic-f small" onclick="$plugins.modalClose('modal_share')"><span>닫기</span></button>
            </div>
        </div>
    </div>
    <div class="components-modal-alert2" data-text="해당 Library를 작성하신 이메일로 전송 하였습니다."></div>
 </div>
<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //components 불러오기
        $plugins.uiPageLoad('/polaris/src/components/common/paging.html', 'components-paging', function(v){
            $('.components-paging > *').unwrap();
        })
        .then($plugins.uiPageLoad('/polaris/src/components/common/Modal-alert.html', 'components-modal-alert2',  function(v){
            $('#modal_alert .txt').html($('.components-modal-alert2').attr('data-text'));
            $('.components-modal-alert2 > *').unwrap();
        }));


    })(jQuery, window, document);

</script> 

