<div class="paging">
    <button type="button" class="paging-first">
        <i class="sp-ico-paging-first"></i>
        <span class="hide">처음으로</span>
    </button>
    <button type="button" class="paging-prev">
        <i class="sp-ico-paging-prev"></i>
        <span class="hide">이전</span>
    </button>
    <button type="button" class="paging-num current">1</button>
    <button type="button" class="paging-num">2</button>
    <button type="button" class="paging-num">3</button>
    <button type="button" class="paging-num">4</button>
    <button type="button" class="paging-num">5</button>
    <button type="button" class="paging-next">
        <i class="sp-ico-paging-next"></i>
        <span class="hide">다음</span>
    </button>
    <button type="button" class="paging-last">
        <i class="sp-ico-paging-last"></i>
        <span class="hide">마지막으로</span>
    </button>
</div>