<div>
    <div class="inc-MainTag"></div>
    <div class="inc-MainInsight"></div>
    <div class="inc-MainLibrary"></div>
    <div class="inc-MainEvent"></div>
    
</div>
<link rel="stylesheet" href="/polaris/src/public/static/styles/base.css">
<div class="big-event-wrap">
    <div class="big-event-inner">
        <p class="title-small">Beta Season</p>
        <p class="title-big">Big event</p>
        <p class="text-content-a">2020년 현재 폴라리스쉐어 서비스는 베타시즌으로 운영되고 있습니다.
            지금 베타시즌에 업로드하시는 사용자에게는 본 시즌 전 에어드랍을 통해
            <span class="text-point">어마어마한 혜택</span>을 제공할 예정이오니 많은 이용 바랍니다.</p>
        <p class="text-content-b">* 폴라리스오피스를 사용하시는 유저분은 폴라리스오피스를 통해서도 라이브러리를 업로드 하실 수 있습니다</p>
    </div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //page callback
        var callbackMainTag = function(){
            console.log('MainTag load');
        }
        var callbackMainInsight = function(){
            console.log('MainInsight load');
        }
        var callbackMainLibrary = function(){
            console.log(`MainLibrary load ${$('.aaa').length}`);
        }
        var callbackMainEvent = function(){
            console.log('MainEvent load');
        }

        //pageload
        $plugins.uiPageLoad('/polaris/src/components/body/main/MainTag.html', 'inc-MainTag', callbackMainTag);
        $plugins.uiPageLoad('/polaris/src/components/body/main/MainInsight.html', 'inc-MainInsight', callbackMainInsight);
        $plugins.uiPageLoad('/polaris/src/components/body/main/MainLibrary.html', 'inc-MainLibrary', callbackMainLibrary);
        $plugins.uiPageLoad('/polaris/src/components/body/main/MainEvent.html', 'inc-MainEvent', callbackMainEvent);

    })(jQuery, window, document);

</script>