<div>
    <div class="box-recent">
        <div class="box-title">
            <h4 class="title-recent">RECENT</h4>
            <a href="" class="btn-more-b">more</a>
        </div>
        <div class="recent-list">
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
            <!-- S : recent unit -->
            <div class="recent-item"></div>
            <!-- E : recent unit -->
        </div>
    </div>
</div>

<svg class="svg">
    <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
        <path d="M0.671,0 H0.329 a0.157,0.173,0,0,0,-0.136,0.087 L0.021,0.413 a0.157,0.173,0,0,0,0,0.173 l0.171,0.327 a0.157,0.173,0,0,0,0.136,0.087 h0.342 a0.157,0.173,0,0,0,0.136,-0.087 l0.171,-0.327 a0.157,0.173,0,0,0,0,-0.173 L0.808,0.087 a0.157,0.173,0,0,0,-0.136,-0.087"></path>
    </clipPath>
</svg>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        // page load
        var callbackMainTop5Item = function(){
            console.log(`MainRecentItem load`);
        }

        $plugins.uiPageLoad('/polaris/src/components/body/main/MainRecentItem.html', 'recent-item', callbackMainTop5Item);

    })(jQuery, window, document);

</script>