<div>
    <div class="box-top5">
        <h3 class="title">TOP 5</h3>
        <div class="top5-list">
            <!-- S : item unit -->
            <div class="components-top5-item"></div>
            <!-- E : item unit -->
        </div>
    </div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        // page load
        var callbackItem = function(v){
            for (var i = 1, len = 5; i < len; i++) {
                $('.components-top5-item').append(v);
            }
            $('.components-top5-item > *').unwrap();
        }

        $plugins.uiPageLoad('/polaris/src/components/body/main/MainTop5Item.html', 'components-top5-item', callbackItem);

    })(jQuery, window, document);

</script>