<div>
    <div class="box-recent">
        <div class="main-title-box">
            <h2 class="main-title">회원추천 <span class="slim">Library</span></h2>
            <a href="" class="link-more-a">more</a>
        </div>
        <div class="recent-list">
            <!-- S : recent unit -->
            <div class="components-recent-item"></div>
            <!-- E : recent unit -->
        </div>
        <div class="main-title-box">
            <h2 class="main-title">투표급상승 <span class="slim">Library</span></h2>
            <a href="" class="link-more-a">more</a>
        </div>
        <div class="recent-list">
            <!-- S : recent unit -->
            <div class="components-recent-item"></div>
            <!-- E : recent unit -->
        </div>
        <!-- S : 요청한 Library -->
        <div class="request-library">
            <div class="main-title-box">
                <h2 class="main-title">요청한 <span class="slim">Library</span></h2>
                <a href="" class="link-more-a">more</a>
            </div>
            <div class="request-list">
                <div class="request-item">
                    <a href="" class="link-request">
                        <p class="request-title">폴라리스쉐어에서는 사용자가 파일형태로 저장하고 폴라리스쉐어에서는 사용자가 파일형태로 저장하고</p>
                        <span class="request-day">2020.05.05</span>
                    </a>
                </div>
                <div class="request-item">
                    <a href="" class="link-request">
                        <p class="request-title">폴라리스쉐어에서는 사용자가 파일형태로 저장하고</p>
                        <span class="request-day">2020.05.05</span>
                    </a>
                </div>
                <div class="request-item">
                    <a href="" class="link-request">
                        <p class="request-title">폴라리스쉐어에서는 사용자가 파일형태로 저장하고</p>
                        <span class="request-day">2020.05.05</span>
                    </a>
                </div>
                <div class="request-item">
                    <a href="" class="link-request">
                        <p class="request-title">폴라리스쉐어에서는 사용자가 파일형태로 저장하고</p>
                        <span class="request-day">2020.05.05</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- E : 요청한 Library -->
    </div>
</div>

<svg class="svg">
    <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
        <path d="M0.671,0 H0.329 a0.157,0.173,0,0,0,-0.136,0.087 L0.021,0.413 a0.157,0.173,0,0,0,0,0.173 l0.171,0.327 a0.157,0.173,0,0,0,0.136,0.087 h0.342 a0.157,0.173,0,0,0,0.136,-0.087 l0.171,-0.327 a0.157,0.173,0,0,0,0,-0.173 L0.808,0.087 a0.157,0.173,0,0,0,-0.136,-0.087"></path>
    </clipPath>
</svg>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        $plugins.uiPageLoad('/polaris/src/components/body/main/MainRecentItem.html', 'components-recent-item', function(v){
            for (var i = 1, len = 10; i < len; i++) {
                $('.components-recent-item').append(v);
            }
            $('.components-recent-item > *').unwrap();
        });

    })(jQuery, window, document);

</script>