<div class="box-recent-item">
    <a href="" class="link-recent">
        <div class="box-img">
            <img src="/polaris/src/public/static/images/main/thum-01.png" alt="">
        </div>
        <div class="box-content">
            <p class="txt-tag"><span class="tag">KOR</span></p>
            <p class="item-title">Decompany <br>Report</p>
            <p class="text-money"><i class="sp-ico-d"></i><span class="text-value">FREE</span></p>
            <div class="box-group">
                <p class="file-name">Document<span class="file-type">.ppt</span></p>
                <p class="day">2020.05.28</p>
            </div>
        </div>
    </a>
</div>