<div>
    <div class="live-tag">
        <h3><span>실시간</span> <b>추천</b> <span>태그</span></h3>
        <a href="#" class="btn-more">more</a>
        <div class="tags">
            <ol class="tag-group">
                <li>
                    <button type="button" class="n1"><span>이미지가 많이 쓰인</span></button>
                </li>
                <li>
                    <button type="button" class="n2"><span>온라인 마케팅 역사</span></button>
                </li>
                <li>
                    <button type="button" class="n2"><span>숫자로 보는 재미있는</span></button>
                </li>
                <li>
                    <button type="button" class="n2"><span>사업제안서</span></button>
                </li>
                <li>
                    <button type="button" class="n3"><span>리포트</span></button>
                </li>
                <li>
                    <button type="button" class="n3"><span>탬플릿</span></button>
                </li>
                <li>
                    <button type="button" class="n4"><span>무료 무료 무료</span></button>
                </li>
                <li>
                    <button type="button" class="n4"><span>인기있는</span></button>
                </li>
                <li>
                    <button type="button" class="n5"><span>도표가 다양한 리포터</span></button>
                </li>
                <li>
                    <button type="button" class="n5"><span>PPT</span></button>
                </li>
            </ol>
        </div>
    </div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        function linkTag(){
            var $wrap = $('.tag-result-wrap');

            $('.tag-group button').on('click', function(){
                $('.tag-group button').removeClass('on');
                $(this).addClass('on');
            })
        }
        linkTag();

        //콜백실행
        var callbackItem = function(v){
            //아이템 18개
            for (var i = 1, len = 18; i < len; i++) {
                $('.components-card-item').append(v);
            }
            $('.components-card-item > *').unwrap();
        }

        //components 불러오기
        $plugins.uiPageLoad('/polaris/src/components/body/items/card-item.html', 'components-card-item', callbackItem);

    })(jQuery, window, document);

</script>  