<div>
    <div class="visual-wrap">
        <div class="visual-img">
            <p class="hide">PC에서 잠자고 있는 <span>나의 <strong>라이브러리</strong>의 가치는 얼마일까요</p>
        </div>

        

        <div class="main-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="doc-info">
                            <div>
                                <span class="badge">KOR</span>
                                <span class="hash">#사업제안서</span>
                            </div>
                            <h3>1 JRC Science for Policy Report</h3>
                            <div class="dec">Blockchain in Education<br />Alexander Grech  Anthony</div>
                            <div class="date">Feb 19, 2020</div>

                            <div class="file-info">
                                <span class="document">Document  <span>.ppt</span></span>
                                <span class="views">10,302 views</span>
                            </div>
                            <div class="info-group">
                                <div>
                                    <i class="icon-money" aria-label="sum"></i> 
                                    <span>0</span>
                                    <i class="icon-down" aria-label="down"></i> 
                                </div>
                                <div>
                                    <i class="icon-download" aria-label="download"></i> <span>335</span>
                                </div>
                                <div>
                                    <i class="icon-like" aria-label="like"></i>
                                    <span>24</span>
                                </div>
                            </div>
                            
                            <div class="user">
                                <span class="user-img">
                                    <img 
                                        srcset="/polaris/src/public/static/images/main/ico-user.png,
                                        /polaris/src/public/static/images/main/ico-user-m.png 2x"
                                        src="/polaris/src/public/static/images/main/ico-user.png" alt="" />
                                </span>
                                <button type="button" class="btn-follow"><span>+ Follow</span></button>
                                <div class="name">chrislee</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="doc-info">
                            <div>
                                <span class="badge">KOR</span>
                                <span class="hash">#사업제안서</span>
                            </div>
                            <h3>2 JRC Science</h3>
                            <div class="dec">Blockchain in Education<br />Alexander Grech  Anthony</div>
                            <div class="date">Feb 19, 2020</div>

                            <div class="file-info">
                                <span class="document">Document  <span>.ppt</span></span>
                                <span class="views">10,302 views</span>
                            </div>
                            <div class="info-group">
                                <div>
                                    <i class="icon-money" aria-label="sum"></i> 
                                    <span>0</span>
                                    <i class="icon-down" aria-label="down"></i> 
                                </div>
                                <div>
                                    <i class="icon-download" aria-label="download"></i> <span>335</span>
                                </div>
                                <div>
                                    <i class="icon-like" aria-label="like"></i>
                                    <span>24</span>
                                </div>
                            </div>
                            
                            <div class="user">
                                <span class="user-img">
                                    <img 
                                        srcset="/polaris/src/public/static/images/main/ico-user.png,
                                        /polaris/src/public/static/images/main/ico-user-m.png 2x"
                                        src="/polaris/src/public/static/images/main/ico-user.png" alt="" />
                                </span>
                                <button type="button" class="btn-follow"><span>+ Follow</span></button>
                                <div class="name">chrislee</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="doc-info">
                            <div>
                                <span class="badge">KOR</span>
                                <span class="hash">#사업제안서</span>
                            </div>
                            <h3>3 JRC Science for Policy Report</h3>
                            <div class="dec">Blockchain in Education<br />Alexander Grech  Anthony</div>
                            <div class="date">Feb 19, 2020</div>

                            <div class="file-info">
                                <span class="document">Document  <span>.ppt</span></span>
                                <span class="views">10,302 views</span>
                            </div>
                            <div class="info-group">
                                <div>
                                    <i class="icon-money" aria-label="sum"></i> 
                                    <span>0</span>
                                    <i class="icon-down" aria-label="down"></i> 
                                </div>
                                <div>
                                    <i class="icon-download" aria-label="download"></i> <span>335</span>
                                </div>
                                <div>
                                    <i class="icon-like" aria-label="like"></i>
                                    <span>24</span>
                                </div>
                            </div>
                            
                            <div class="user">
                                <span class="user-img">
                                    <img 
                                        srcset="/polaris/src/public/static/images/main/ico-user.png,
                                        /polaris/src/public/static/images/main/ico-user-m.png 2x"
                                        src="/polaris/src/public/static/images/main/ico-user.png" alt="" />
                                </span>
                                <button type="button" class="btn-follow"><span>+ Follow</span></button>
                                <div class="name">chrislee</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="doc-info">
                            <div>
                                <span class="badge">KOR</span>
                                <span class="hash">#사업제안서</span>
                            </div>
                            <h3>4 JRC Science for Policy Report</h3>
                            <div class="dec">Blockchain in Education<br />Alexander Grech  Anthony</div>
                            <div class="date">Feb 19, 2020</div>

                            <div class="file-info">
                                <span class="document">Document  <span>.ppt</span></span>
                                <span class="views">10,302 views</span>
                            </div>
                            <div class="info-group">
                                <div>
                                    <i class="icon-money" aria-label="sum"></i> 
                                    <span>0</span>
                                    <i class="icon-down" aria-label="down"></i> 
                                </div>
                                <div>
                                    <i class="icon-download" aria-label="download"></i> <span>335</span>
                                </div>
                                <div>
                                    <i class="icon-like" aria-label="like"></i>
                                    <span>24</span>
                                </div>
                            </div>
                            
                            <div class="user">
                                <span class="user-img">
                                    <img 
                                        srcset="/polaris/src/public/static/images/main/ico-user.png,
                                        /polaris/src/public/static/images/main/ico-user-m.png 2x"
                                        src="/polaris/src/public/static/images/main/ico-user.png" alt="" />
                                </span>
                                <button type="button" class="btn-follow"><span>+ Follow</span></button>
                                <div class="name">chrislee</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="doc-info">
                            <div>
                                <span class="badge">KOR</span>
                                <span class="hash">#사업제안서</span>
                            </div>
                            <h3>5 JRC Science for Policy Report</h3>
                            <div class="dec">Blockchain in Education<br />Alexander Grech  Anthony</div>
                            <div class="date">Feb 19, 2020</div>

                            <div class="file-info">
                                <span class="document">Document  <span>.ppt</span></span>
                                <span class="views">10,302 views</span>
                            </div>
                            <div class="info-group">
                                <div>
                                    <i class="icon-money" aria-label="sum"></i> 
                                    <span>0</span>
                                    <i class="icon-down" aria-label="down"></i> 
                                </div>
                                <div>
                                    <i class="icon-download" aria-label="download"></i> <span>335</span>
                                </div>
                                <div>
                                    <i class="icon-like" aria-label="like"></i>
                                    <span>24</span>
                                </div>
                            </div>
                            
                            <div class="user">
                                <span class="user-img">
                                    <img 
                                        srcset="/polaris/src/public/static/images/main/ico-user.png,
                                        /polaris/src/public/static/images/main/ico-user-m.png 2x"
                                        src="/polaris/src/public/static/images/main/ico-user.png" alt="" />
                                </span>
                                <button type="button" class="btn-follow"><span>+ Follow</span></button>
                                <div class="name">chrislee</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                    
            </div>
           
        </div>
    </div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        var mainSwiper = new Swiper('.main-swiper .swiper-container', {
            // Optional parameters
            loop: false,
            slidesPerView: 1,
            centeredSlides: true,
            spaceBetween:0,
            breakpoints: {
                1020: {
                    loop: true,
                },
            },
            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });

    })(jQuery, window, document);

</script>