<main class="base-body">
    <div class="main-section-wrap">
        <div class="components-MainVisual"></div>
        <!--
            Header.html
            <div class="components-MainTag"></div> -->
    </div>
    <div class="components-MainInsight"></div>
    <div class="components-MainLibrary"></div>
    <div class="components-MainEvent"></div>
</main>


<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //pageload
        $plugins.uiPageLoad('/polaris/src/components/body/main/MainVisual.html', 'components-MainVisual', function(){
            $('.components-MainVisual > *').unwrap();
        })

        .then($plugins.uiPageLoad('/polaris/src/components/body/main/MainInsight.html', 'components-MainInsight', function(){
            $('.components-MainInsight > *').unwrap();
        }))
        
        .then($plugins.uiPageLoad('/polaris/src/components/body/main/MainLibrary.html', 'components-MainLibrary', function(){
            $('.components-MainLibrary > *').unwrap();
        }))

        .then($plugins.uiPageLoad('/polaris/src/components/body/main/MainEvent.html', 'components-MainEvent', function(){
            $('.components-MainEvent > *').unwrap();
        })) ;

    })(jQuery, window, document);

</script>