<div>
    <div class="library-wrap">
        <h3>POLARIS SHARE LIBRARY</h3>

        <div class="inc-MainRecent"></div>
        <div class="inc-MainTop5"></div>

    </div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        // page load
        var callbackMainTop5 = function(){
            console.log(`MainTop5 load`);
        }

        $plugins.uiPageLoad('/polaris/src/components/body/main/MainTop5.html', 'inc-MainTop5', callbackMainTop5);
            
    })(jQuery, window, document);

</script>