<div>
    <div class="library-wrap">
        <h3 class="title-library">POLARIS SHARE <span class="point">LIBRARY</span></h3>
        <p class="text-library">필요한 라이브러리를 사용하시고 평가해 주세요</p>

        <div class="inc-MainRecent"></div>
        <!--<div class="inc-MainTop5"></div>-->

    </div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        // page load

        $plugins.uiPageLoad('/polaris/src/components/body/main/MainRecent.html', 'inc-MainRecent', function(){
            // page load
        })
        /*.then( $plugins.uiPageLoad('/polaris/src/components/body/main/MainTop5.html', 'inc-MainTop5',  function(){
            // page load
        }));*/
            
    })(jQuery, window, document);

</script>