<div class="top5-item-wrap">
    <div class="box-img">
        <img src="/polaris/src/public/static/images/main/thum-01.png" alt="">
        <span class="tag">KOR</span>
    </div>
    <div class="box-content">
        <p class="item-title"><a href="">JRC Science for Policy  Report</a></p>
        <div class="content-items">
            <div class="items">
                <i class="sp-ico-a"></i><span class="text-money">200</span>
            </div>
            <div class="items">
                <i class="sp-ico-b"></i><span class="text-number">335</span>
            </div>
            <div class="items">
                <i class="sp-ico-c"></i><span class="text-number">24</span>
            </div>
        </div>
        <div class="person-info-box">
            <div class="person-info">
                <span class="person-photo"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></span>
                <span class="person-name">chrislee</span>
            </div>
            <p class="text-time">2 months ago<br>(for 4 weeks)</p>
        </div>
    </div>
</div>