<div>
    <div class="live-tag">
        <h3><span>실시간</span> <b>추천</b> <span>태그</span></h3>
        <a href="#" class="btn-more">more</a>
        <div class="tags">
            <ol class="tag-group">
                <li>
                    <button type="button" class="n1"><span>이미지가 많이 쓰인</span></button>
                </li>
                <li>
                    <button type="button" class="n2"><span>온라인 마케팅</span></button>
                </li>
                <li>
                    <button type="button" class="n2"><span>숫자로 보는</span></button>
                </li>
                <li>
                    <button type="button" class="n2"><span>사업제안서</span></button>
                </li>
                <li>
                    <button type="button" class="n3"><span>리포트</span></button>
                </li>
                <li>
                    <button type="button" class="n3"><span>탬플릿</span></button>
                </li>
                <li>
                    <button type="button" class="n4"><span>무료</span></button>
                </li>
                <li>
                    <button type="button" class="n4"><span>인기있는</span></button>
                </li>
                <li>
                    <button type="button" class="n5"><span>도표가 다양한</span></button>
                </li>
                <li>
                    <button type="button" class="n5"><span>PPT</span></button>
                </li>
            </ol>
        </div>
    </div>
</div>