<header class="base-header">
    <div class="header-wrap">
        <div class="header-logo">
            <span class="hide">POLARIS SHARE library sharing platform & POLARIS OFFICE</span>
        </div>
        
        <div class="header-search">
            <input type="search" value="" placeholder="라이브러리, 판매자 검색">
            <button type="button" class="btn-search"><span class="hide">검색</span></button>
        </div>
        

        <button type="button" class="btn-login"><span>Log in</span></button>

        <!-- 실시간 추천 태그 -->
        <div class="inc-MainTag"></div>
    </div>
    <button type="button" class="btn-upload" onclick="alert(1)"><b>Upload</b> <span>하러가기</span></button>
</header>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //pageload
        $plugins.uiPageLoad('/polaris/src/components/body/main/MainTag.html', 'inc-MainTag',  function(){
            //page callback
        });

    })(jQuery, window, document);

</script>