.card-list-a,
.card-list-b {display:flex;flex-wrap:wrap}
.card-list-a .card-item {width:calc((100% - 90px) / 6);margin-bottom:38px}
.card-list-a .card-item  ~ .card-item {margin-left:18px}
.card-list-a .card-item:nth-child(6n + 1) {margin-left:0}
.card-list-b .card-item {width:calc((100% - 18px) / 3)}
.card-list-b .card-item  ~ .card-item {margin-left:9px}
.card-item .card-item-wrap {overflow:hidden;border-radius:12px;border:1px solid #e0e0e0;position:relative;background-color:#fff}
.card-item .box-img {position:relative;height:150px;overflow:hidden}
.card-item .box-img img {position:absolute;left:0;width:100%;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%)}
.card-item .box-img .flag-public {position:absolute;left:4px;top:4px;width:48px;height:52px;border:1px solid #bdd3ff;background-color:#1361ff;padding-top:20px;text-align:center;font-size:12px;color:#fff;font-weight:600;border-radius:6px}
.card-item .box-img .flag-public .sp-ico-public {position:absolute;left:8px;top:0}
.card-item .box-content {padding:16px 20px 54px}
.card-item .box-content .item-type {display:flex;justify-content:space-between}
.card-item .box-content .item-type .file-type {font-size:12px;color:#385881}
.card-item .box-content .item-type .file-lang {font-size:12px;color:#0071ff}
.card-item .box-content .item-title {margin:8px 0;line-height:23px;font-size:18px;color:#000;font-weight:600;min-height:46px;overflow:hidden}
.card-item .box-content .item-title a {display:block;color:#000}
.card-item .box-content .item-views {font-size:10px;text-align:right;color:#000}
.card-item .content-items {display:flex}
.card-item .content-items .items {flex:1;display:flex;align-items:center;justify-content:center}
.card-item .content-items .items i {margin-right:5px}
.card-item .content-items .text-money {font-size:10px;color:#4f4f4f}
.card-item .content-items .text-number {font-size:10px;color:#4f4f4f}
.card-item .person-info-box {background-color:#f6f6f6;position:absolute;left:0;bottom:0;right:0;padding:14px}
.person-info-box .text-time {font-size:10px;line-height:12px;color:#818181}

@media (max-width:1300px) {
    .card-list-a .card-item {width:calc((100% - 72px) / 5)}
    .card-list-a .card-item:nth-child(6n + 1) {margin-left:18px}
    .card-list-a .card-item:nth-child(5n + 1) {margin-left:0}
}

@media (max-width:1024px) {
    .card-list-a .card-item {width:calc((100% - 36px) / 3)}
    .card-list-a .card-item:nth-child(5n + 1) {margin-left:18px}
    .card-list-a .card-item:nth-child(3n + 1) {margin-left:0}

    .card-item .box-content {padding-bottom:70px}
    .card-item .person-info-box {padding:12px}
    .card-item .person-info-box .person-info .person-name {font-size:29px}
    .card-item .person-info-box .text-time {line-height:28px;font-size:23px}
    .card-item .box-content .item-views,
    .card-item .content-items .text-money,
    .card-item .content-items .text-number {font-size:14px}
    .card-item .content-items .items i {margin-right:8px}

}
@media (max-width:768px) {
    .card-list-a .card-item {width:calc((100% - 18px) / 2)}
    .card-list-a .card-item:nth-child(3n + 1) {margin-left:18px}
    .card-list-a .card-item:nth-child(2n + 1) {margin-left:0}

    .card-item .box-content {padding-bottom:54px}
    .card-item .box-content .item-views,
    .card-item .content-items .text-money,
    .card-item .content-items .text-number {font-size:10px}
}
@media (max-width:420px) {
    .card-list-a .card-item,
    .card-list-b .card-item {width:100%;margin-left:0 !important}
    .card-list-b .card-item ~ .card-item {margin-top:12px}
}