.user-list-c {display:flex;flex-wrap:wrap}
.user-list-c .user-item-f {width:calc((100% - 90px) / 6);margin:0 18px 18px 0}
.user-list-c .user-item-f:nth-child(6n){margin-right:0}
.user-list-d {display:flex;flex-wrap:wrap}
.user-list-d .user-item-f {width:calc((100% - 36px) / 3);margin:0 18px 18px 0}
.user-list-d .user-item-f:nth-child(3n){margin-right:0}
.user-item-f .user-summary {background-color:#f5f5f5;text-align:center;padding:30px}
.user-item-f .user-summary .box-person {margin-bottom:24px}
.user-item-f .user-summary .box-person .person-img {width:60px;height:60px;border-radius:50%;overflow:hidden;margin:0 auto}
.user-item-f .user-summary .box-person .person-img img {width:100%;vertical-align:top}
.user-item-f .user-summary .box-person .person-lv {font-size:14px;color:#6d6d6d;margin-bottom:22px}
.user-item-f .user-summary .box-person .person-lv .person-lv-value {font-weight:500;padding-left:4px}
.user-item-f .user-summary .box-person .person-name {margin-top:5px;color:#3c3c3c;font-size:20px}
.user-item-f .user-summary .box-person .link-person {display:inline-block;color:#3c3c3c;position:relative}
.user-item-f .user-summary .box-person .link-person:before {content:'';display:block;position:absolute;bottom:1px;left:0;right:0;height:1px;background-color:#3c3c3c}
.user-item-f .user-summary .record-item {display:flex;max-width:186px;margin:0 auto}
.user-item-f .user-summary .record-item .record-title {width:94px;text-align:left;font-size:16px;line-height:32px;color:#54565a}
.user-item-f .user-summary .record-item .record-value {font-size:16px;text-align:left;line-height:32px;font-weight:600;color:#ff8400}
.user-item-f .user-summary .record-item .record-value.pola {color:#1c7df4}

@media (max-width:1500px) {
    .user-list-c .user-item-f {width:calc((100% - 54px) / 4)}
    .user-list-c .user-item-f:nth-child(6n){margin-right:18px}
    .user-list-c .user-item-f:nth-child(4n){margin-right:0}
}
@media (max-width:1023px) {
    .user-list-c .user-item-f {width:calc((100% - 18px) / 2)}
    .user-list-c .user-item-f:nth-child(4n){margin-right:18px}
    .user-list-c .user-item-f:nth-child(2n){margin-right:0}
    .user-list-d .user-item-f {width:100%;margin-right:0 !important}
}
@media (max-width:500px) {
    .user-list-c .user-item-f {width:100%;margin-right:0 !important}
}