<div class="base-wrap">
    <a href="#" class="btn-skip">Skip to main</a>
    <div class="components-notify"></div>
    <div class="components-header">
        header...
    </div>

    <main class="components-main">
        main...
    </main>

    <div class="components-footer">
        footer...
    </div>
</div>


<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //미리보기 팝업
        $plugins.modalOpen = function(v){
            var $target = v !== undefined ? $('#' + v) :  $('.ui-modal');
            
            $('body').addClass('no-scroll');
            $target.addClass('ready').addClass('open');
            if ($target.find('.ui-modal-wrap').outerHeight() >= $(window).outerHeight()) {
                $target.addClass('over');
            } else{
                $target.removeClass('over');
            }
        }
        $plugins.modalClose = function(v){
            var $target = v !== undefined ? $('#' + v) :  $('.ui-modal');

            $('body').removeClass('no-scroll');
            $target.removeClass('ready').removeClass('open');
        }



    })(jQuery, window, document);

</script>  