<footer class="base-footer">
    <div class="footer-menu">
        <ul class="fm-list">
            <li class="list-item"><a href="" class="link-footer">About us</a></li>
            <li class="list-item"><a href="" class="link-footer">FAQ</a></li>
            <li class="list-item"><a href="" class="link-footer">User Guide</a></li>
            <li class="list-item"><a href="" class="link-footer">Terms of Service</a></li>
            <li class="list-item"><a href="" class="link-footer">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="footer-contents">
        <div class="box-footer">
            <p class="logo"><i class="sp-ico-f-logo"></i><span class="for-a11y">POLARIS SHARE</span></p>
            <div class="copy">
                <p class="text-email">EMAIL: connect@polarishare.com</p>
                <p class="text-copy">Copyrightⓒ 2020 POLARIS SHARE</p>
            </div>
            <ul class="sns-list">
                <li class="list-item"><a href=""><i class="sp-ico-sns-1"></i><span class="for-a11y">페이스북</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-2"></i><span class="for-a11y">트위트</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-3"></i><span class="for-a11y">인스타그램</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-4"></i><span class="for-a11y">in</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-5"></i><span class="for-a11y">블로그</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-6"></i><span class="for-a11y">카카오톡</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-7"></i><span class="for-a11y">M</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-8"></i><span class="for-a11y">메일</span></a></li>
                <li class="list-item"><a href=""><i class="sp-ico-sns-9"></i><span class="for-a11y"></span></a></li>
            </ul>
            <div class="family-site">
                <select name="" id="">
                    <option value="">FAMILY SITE</option>
                </select>
            </div>
        </div>
    </div>
</footer>