<style>
    /* 이벤트보기 */
    .view-event {margin-top:30px}
    .view-event .col-2 {width:auto}
    .view-event .col-4 {width:240px}
    .view-event .col-5 {width:120px}
    .view-event .tit-b {padding-left:60px}

    .view-event .view-content {margin-bottom:20px}
    @media (max-width:1300px) {
        /* table */
        .view-event .tbl-list {width:100%;position:relative;overflow-x:auto;-webkit-overflow-scrolling:touch}
        .view-event .tbl-list table {width:100%}
    }

    @media (max-width:768px) {
        .view-event .tit-b {padding-left:0}
        .view-event .col-4 {width:120px}
        .view-event .col-5 {width:80px}
    }
</style>

<main class="base-body">
    <div class="box-content-b">
        <h3 class="title-type-a">Notice</h3>

        <div class="view-event">
            <div class="tbl-list">
                <table>
                    <caption>제목, 날짜, 조회수의 Notice 목록</caption>
                    <colgroup>
                        <col class="col-2">
                        <col class="col-4">
                        <col class="col-5">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">이벤트 기간</th>
                            <th scope="col">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="tit-b">[이벤트] Functional Programming 개정판 설명입니다</div>
                            </td>
                            <td>2020.05.06 ~ 2020.05.30</td>
                            <td>300</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="view-content">
                <img src="/polaris/src/public/static/images/temp/@temp3.jpg" alt="" />
                <br /><br />
                <p>
                    그들이 AWS 위에서 데이터 파이프라인을 운영하는 법- <br />
                    너무 좋습니다!!
                </p>
            </div>

            <div class="btn-wrap-r">
                <button type="button" class="btn-exception-b"><span>목록</span></button>
            </div>

        </div>
    </div>
</main>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        $plugins.uiPageLoad('/polaris/src/components/body/items/user-item-c.html', 'components-user-item-c', function(){
            $('.components-user-item-c > *').unwrap();
        })
        .then($plugins.uiPageLoad('/polaris/src/components/body/items/Comment-b.html', 'components-comment', function(){
            $('.components-comment > *').unwrap();
        }));

    })(jQuery, window, document);

</script>