<style>    
    .ui-modal.type-memSearch .ui-modal-wrap{width:700px; margin:20px 0; padding:40px 60px; border-radius:0; background:#fff; border:3px solid #2a2b2d; text-align: center;}
    .ui-modal.type-memSearch .btn-basic-f{min-width:160px}
    .ui-modal.type-memSearch .modal-tit{font-size:24px; text-align: left; margin-bottom:20px;}
    .ui-modal.type-memSearch .write-form .form-input-b{width:calc(100% - 130px); display:inline-block;}
    .ui-modal.type-memSearch .write-form .btn-exception-a{width:120px; min-width:0; display:inline-block; margin-left:10px}

    .box-search{width:100%; padding:10px 20px; border:1px solid #474747; margin-top:30px; text-align: left;}
    .box-search li{width:100%; padding:5px 0;}
    .box-search button{width:100%; text-align: left; padding:5px 0; font-size:18px;}
    .box-search button::before{content:""; display:inline-block; width:22px; height:22px; border:2px solid #909090; vertical-align:middle; margin-right:10px; margin-top:-3px}

    @media (max-width:1024px) {
        .ui-modal.type-memSearch .ui-modal-wrap{width:100%; min-height:100%; margin: 0; padding:50px 20px; border-radius:0; background:#fff; border:3px solid #2a2b2d; text-align: center;}
        .ui-modal.open.type-memSearch .ui-modal-wrap{margin:0;}
        .ui-modal.type-alert .ui-modal-wrap{width:calc(100% - 20px); margin:20px 0; padding:50px 20px; border-radius:0; background:#fff; border:3px solid #2a2b2d; text-align: center;}
    }
</style>

<div class="ui-modal type-memSearch" id="modal_memberSearch">
    <div class="ui-modal-wrap">
        <h1 class="modal-tit">회원검색</h1>
        <div class="modal-cont">

            <div class="write-item-c">
                <div class="write-form">
                    <input type="text" class="form-input-b" value="" title="회원검색" />
                    <button type="button" class="btn-exception-a"><span>검색</span></button>
                </div>
            </div>

            <div class="box-search">
                <ul>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem1" class="form-checkbox"><label for="mem1">east5</label></span></li>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem2" class="form-checkbox"><label for="mem2">east5</label></span></li>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem3" class="form-checkbox"><label for="mem3">east5</label></span></li>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem4" class="form-checkbox"><label for="mem4">east5</label></span></li>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem5" class="form-checkbox"><label for="mem5">east5</label></span></li>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem6" class="form-checkbox"><label for="mem6">east5</label></span></li>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem7" class="form-checkbox"><label for="mem7">east5</label></span></li>
                    <li><span class="box-checkbox-a"><input type="checkbox" id="mem8" class="form-checkbox"><label for="mem8">east5</label></span></li>
                </ul>
            </div>
            <div class="components-paging"></div>

            <button type="button" class="btn-basic-f small" onclick="$plugins.modalClose('modal_memberSearch')"><span>확인</span></button>
        </div>
    </div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //components 불러오기
        $plugins.uiPageLoad('/polaris/src/components/common/paging.html', 'components-paging', function(v){
            $('.components-paging > *').unwrap();
        });


    })(jQuery, window, document);

</script> 

