.box-member {max-width:700px;margin:44px auto 0}
.member-title-wrap {display:flex;justify-content:space-between;align-items:center}
.member-icon-a {width:186px;height:124px;background:url(/polaris/src/public/static/images/sub/member-img-a.png) 50% 50% no-repeat;background-size:100% auto}
.member-icon-b {width:186px;height:124px;background:url(/polaris/src/public/static/images/sub/member-img-b.png) 50% 50% no-repeat;background-size:100% auto}
.box-member .member-des {margin:32px 0 28px;font-size:26px;line-height:40px;color:#000;font-weight:200;word-break:keep-all}
.box-member-b {border:1px solid #c3c3c3;margin-top:36px}
.list-type-a .list-item {padding:26px 30px}
.list-type-a .list-item ~ .list-item {border-top:1px dashed #dcdcdc}
.list-type-a .list-item .box-textarea {margin:20px 36px 0 36px}
.list-type-a .list-item .box-textarea .form-textarea-a {height:160px;vertical-align:top}
.list-type-a .list-item .box-textarea .txt-member-a {margin-top:4px}
.member-btn-area-a {margin:40px 0 80px;text-align:center}
.member-btn-area-a [class^="btn-basic-"] {min-width:340px}
.box-member-b .member-info {padding:46px 70px}
.box-member-b .member-info ~ .member-info {border-top:1px solid #dcdcdc}
.box-member .box-member-txt {padding:44px 64px}
.box-member .txt-member-a {padding-left:8px;position:relative;font-size:14px;color:#ff8400;word-break:keep-all}
.box-member .txt-member-a:before {content:'';position:absolute;left:0;top:8px;width:3px;height:3px;border-radius:50%;background-color:#949494}
.box-member .txt-member-b {font-size:18px;color:#696969;line-height:24px;word-break:keep-all}
.box-member .txt-member-c {margin:80px 0 90px;font-size:24px;color:#000;line-height:30px;word-break:keep-all;font-weight:500;text-align:center}
.box-member .txt-member-d {text-align:center;margin-top:32px;font-size:14px;color:#939393;line-height:20px;word-break:keep-all;padding-left:8px;text-indent:-8px}
.box-member .txt-member-d:before {content:'';position:relative;top:-1px;display:inline-block;width:3px;height:3px;border-radius:50%;background-color:#949494;margin-right:4px;vertical-align:middle}
.box-member .txt-member-e {font-size:24px;color:#000;line-height:30px;word-break:keep-all}
.box-member .join-data {margin-top:20px;font-size:18px;color:#696969}
.box-member .join-data .point-color-a,
.box-member .join-data .point-color-b {font-weight:600;padding-left:16px}

.member-top-logo {text-align:center}
.member-top-logo i {vertical-align:top}

.join-type {max-width:400px;margin:0 auto}
.join-type [class^="link-join-"] {display:flex;width:100%;height:70px;font-size:20px;color:#fff;font-weight:500;justify-content:center;align-items:center}
.join-type [class^="link-join-"] ~ [class^="link-join-"] {margin-top:20px}
.join-type [class^="link-join-"] i {margin-right:16px}
.join-type .link-join-a {background-color:#00c850}
.join-type .link-join-b {background-color:#308cfe}
.join-type .link-join-c {background-color:#0073b0}

.member-title-a {text-align:center;margin:68px 0;font-size:42px;color:#000;font-weight:400}
.member-title-b {font-size:24px;color:#000;font-weight:500;margin-bottom:24px}
.box-join {border:1px solid #c3c3c3}
.box-join ~ .box-join {margin-top:72px}
.box-join .box-join-section {padding:44px 64px}
.box-join .box-join-section ~ .box-join-section {border-top:1px solid #eaeaea}
.join-item-a {position:relative;padding-right:170px}
.join-item-a ~ .join-item-a,
.join-item-b ~ .join-item-b {margin-top:10px}
.join-item-a .form-input-c,
.join-item-b .form-input-c {width:100%}
.join-item-a .join-col-btn {position:absolute;right:0;top:50%;margin-top:-22px;width:160px}
.join-item-a .join-col-btn .btn-exception-a {width:100%;min-width:1px}

.join-item-b {display:flex}
.join-item-b .join-col-form {flex:1}

.member-agree {border:1px solid #c7c7c7}
.member-agree .list-item {padding:26px 30px}
.member-agree .list-item.all .box-checkbox-a label {color:#313131}
.member-agree .list-item ~ .list-item {border-top:1px solid #dcdcdc}
.member-agree .list-item ~ .list-item ~ .list-item {border-top:1px dashed #dcdcdc}
.box-join-section .btn-area-a {margin-top:30px}

.box-link-member {margin-top:16px;display:flex;justify-content:space-between}
.box-link-member .link-item {font-size:16px;color:#606060;line-height:22px;display:inline-block;border-bottom:1px solid #606060}

.box-join ~ .join-type {margin-top:50px}
.login-option {margin-top:12px;display:flex;justify-content:space-between;padding-bottom:16px}
.login-option .login-item .link-member {font-size:14px;font-weight:500;color:#4b4b4b}
.login-option .login-item .link-member ~ .link-member {margin-left:24px}

@media (max-width:768px) {
	.member-icon-a,
	.member-icon-b,
	.member-icon-c,
	.member-icon-d {width:93px;height:62px}
	.box-member .member-des {font-size:16px;line-height:22px}
	.list-type-a .list-item,
	.box-member-b .member-info {padding:20px}
	.member-info .member-info-title {font-size:20px}

	.box-member .txt-member-c {margin:40px 0 ;font-size:18px;line-height:24px}
	.join-type [class^="link-join-"] {height:50px;font-size:16px}
	.join-type [class^="link-join-"] ~ [class^="link-join-"] {margin-top:10px}
	.join-type [class^="link-join-"] i {margin-right:8px}

	.member-agree .list-item {padding:20px}
	.member-title-a {margin:36px 0;font-size:28px}
	.member-title-b {font-size:18px;margin-bottom:12px}
	.box-join .box-join-section {padding:20px}
}
@media (max-width:600px) {
	.join-item-a {display:flex;align-items:center;padding:0}
	.join-item-a .join-col-form {flex:1}
	.join-item-a .join-col-btn {position:static;padding-left:10px;width:auto;margin:0}
	.join-item-a .join-col-btn .btn-exception-a {padding:0 20px}
	.box-join-section .btn-area-a {margin-top:20px}
	.box-member .txt-member-e {font-size:18px}
}
@media (max-width:500px) {
	.list-type-a .list-item .box-textarea {margin:12px 0 0}
	.box-member .txt-member-a {font-size:12px}
	.member-btn-area-a [class^="btn-basic-"] {min-width:100%}
	.box-member .box-member-txt {padding:20px}
	.box-member .txt-member-b {font-size:14px;line-height:20px}

	.login-option {padding-bottom:0;flex-direction:column}
	.login-option .login-item ~ .login-item {margin-top:12px;text-align:center;border-top:1px dashed #e6e6e6;padding-top:10px}
	.login-option .login-item .link-member {font-size:14px;font-weight:500;color:#4b4b4b}
	.login-option .login-item .link-member ~ .link-member {margin-left:24px}
}

