
<main class="base-body page-Mypage">
    <div class="box-content-b">

        <div class="box-member">
            <p class="member-top-logo"><i class="sp_member-logo"></i><span class="for-a11y">POLARIS SHARE</span></p>
            <h2 class="member-title-a">아이디 찾기</h2>
            <!-- S : 아이디 찾기 -->
            <div class="box-join">
                <div class="box-join-section">
                    <p class="txt-member-e">입력하신 정보와 일치하는 아이디 정보입니다.</p>
                    <p class="join-data">아이디 :<span class="point-color-a">east500</span></p>
                    <p class="join-data">가입일 :<span class="point-color-b">2020년 09월 21일</span></p>
                </div>
            </div>
            <!-- E : 아이디 찾기 -->

            <div class="btn-area-a">
                <button type="button" class="btn-basic-f">로그인</button>
                <button type="button" class="btn-basic-f">비밀번호 찾기</button>
           </div>
        </div>

    </div>
</main>