
<main class="base-body page-Mypage">
    <div class="box-content-b">

        <div class="box-member">
            <p class="member-top-logo"><i class="sp_member-logo"></i><span class="for-a11y">POLARIS SHARE</span></p>
            <h2 class="member-title-a">아이디 비밀번호 찾기</h2>
            <!-- S : 아이디 찾기 -->
            <div class="box-join">
                <div class="box-join-section">
                    <h3 class="member-title-b">아이디 찾기</h3>
                    <div class="join-item-b">
                        <div class="join-col-form"><input type="text" class="form-input-c" placeholder="이름" /></div>
                    </div>
                    <div class="join-item-b">
                        <div class="join-col-form"><input type="text" class="form-input-c" placeholder="이메일 주소" /></div>
                    </div>
                    <div class="btn-area-a">
                        <button type="button" class="btn-basic-f medium">확인</button>
                    </div>
                </div>
            </div>
            <!-- E : 아이디 찾기 -->
            <!-- S : 비밀번호 찾기 -->
            <div class="box-join">
                <div class="box-join-section">
                    <h3 class="member-title-b">비밀번호 찾기</h3>
                    <div class="join-item-b">
                        <div class="join-col-form"><input type="text" class="form-input-c" placeholder="이메일 주소" /></div>
                    </div>
                    <div class="btn-area-a">
                        <button type="button" class="btn-basic-f medium">비밀번호 변경 URL 전송</button>
                    </div>
                    <p class="txt-member-d">가입시 등록했던 이메일 입력시, 비밀번호변경 URL이 전송됩니다.</p>
                </div>
            </div>
            <!-- E : 비밀번호 찾기 -->
            <div class="box-link-member">
                <a href="" class="link-item">로그인</a>
                <a href="" class="link-item">회원가입</a>
            </div>
        </div>

    </div>
</main>