.live-tag{position:absolute; top:230px; left:50%; margin-left:-600px}
.live-tag h3{font-size:28px; display:inline-block; vertical-align:middle;}
.live-tag .btn-more{vertical-align:middle; margin-left:10px}

.live-tag .tags{width:450px; height:390px; position: relative; margin-top:10px}
.live-tag .tags button{display:block; text-align:center; line-height:1.1; word-break: keep-all; position: absolute;}

.live-tag .n1{width:160px; height:144px; background:url(/polaris/src/public/static/images/main/tag-level-01.png) no-repeat 0 0 / contain; font-size:20px; color:#0056c1; padding:25px;}
.live-tag .n2{width:133px; height:120px; background:url(/polaris/src/public/static/images/main/tag-level-02.png) no-repeat 0 0 / contain; font-size:18px; color:#2279e7; padding:10px;}
.live-tag .n3{width:107px; height:97px; background:url(/polaris/src/public/static/images/main/tag-level-03.png) no-repeat 0 0 / contain; font-size:16px; color:#519af6; padding:10px;}
.live-tag .n4{width:86px; height:78px; background:url(/polaris/src/public/static/images/main/tag-level-04.png) no-repeat 0 0 / contain; font-size:14px; color:#7ab5ff; padding:5px;}
.live-tag .n5{width:54px; height:49px; background:url(/polaris/src/public/static/images/main/tag-level-05.png) no-repeat 0 0 / contain; font-size:12px; color:#91b7e6; padding:5px;}
.live-tag .tags li:nth-child(1) button{top:180px; left:125px;}
.live-tag .tags li:nth-child(2) button{top:100px; left:5px;}
.live-tag .tags li:nth-child(3) button{top:110px; left:265px;}
.live-tag .tags li:nth-child(4) button{top:350px; left:140px;}
.live-tag .tags li:nth-child(5) button{top:58px; left:157px;}
.live-tag .tags li:nth-child(6) button{top:270px; left:30px;}
.live-tag .tags li:nth-child(7) button{top:290px; left:280px;}
.live-tag .tags li:nth-child(8) button{top:10px; left:80px;}
.live-tag .tags li:nth-child(9) button{top:40px; left:270px;}
.live-tag .tags li:nth-child(10) button{top:370px; left:350px;}

.live-tag .tags button:hover{animation-name:dungdung; 
animation-duration:.5s; 
animation-iteration-count:infinite; 
animation-timing-function:ease-out; 
animation-fill-mode: forwards;
}
/* .live-tag .tags li:nth-child(1) button{animation-delay: 0; animation-duration:2s;}
.live-tag .tags li:nth-child(2) button{animation-delay: 0.2s; animation-duration:1.7s; }
.live-tag .tags li:nth-child(3) button{animation-delay: 0.2s;  animation-duration:1.4s;}
.live-tag .tags li:nth-child(4) button{animation-delay: 0.2s;  animation-duration:1.5s;}
.live-tag .tags li:nth-child(5) button{animation-delay: 0.3s;  animation-duration:1.4s;}
.live-tag .tags li:nth-child(6) button{animation-delay: 0.3s;  animation-duration:1.1s;}
.live-tag .tags li:nth-child(7) button{animation-delay: 0.4s;  animation-duration:1.2s;}
.live-tag .tags li:nth-child(8) button{animation-delay: 0.48s;  animation-duration:1s;}
.live-tag .tags li:nth-child(9) button{animation-delay: 0.5s;  animation-duration:0.7s;}
.live-tag .tags li:nth-child(10) button{animation-delay: 0.5s;  animation-duration:0.5s;} */

/* sub */
.type-sub .live-tag{position:absolute; z-index:10; width:100%; top:110px; left:0; margin-left:0;  padding:0; height:40px; overflow:hidden;}
.type-sub .live-tag h3{float:left; font-size:16px; display:block; vertical-align:middle;}
.type-sub .live-tag h3 b{display:inline-block; width:72px; height:39px; background:url(/polaris/src/public/static/images/main/livetag-t.png) no-repeat 0 0 / contain; color:#fff;  padding:0 0 0 30px; line-height:37px;}
.type-sub .live-tag h3 span{display:none;}
.type-sub .live-tag .btn-more{display:none;}
.type-sub .live-tag .tags{float:left; display:block; width:500px; height:40px; overflow:hidden; height:auto; margin:0 0 0 10px}
.type-sub .live-tag .tags .tag-group button {display:block; text-align:center; line-height:1; word-break: keep-all; position: relative; top:0 !important; left:0 !important; width:auto !important;  background:none; word-break: keep-all; white-space: nowrap; font-size:16px !important; padding:0 10px; border:1px solid #90b6e6; border-radius:20px; height:40px !important; color:#0056c1 !important;}
.type-sub .live-tag .tags .tag-group li + li{margin-left:10px}
.type-sub .live-tag .tags .tag-group{ overflow: hidden;}
.type-sub .live-tag .tags .tag-group li{float:left; }
.type-sub .live-tag .tags button{animation-name:none; }
.type-sub .live-tag .tags button:hover{animation-play-state: paused;}

/* sub v2 */
.type-sub-v2 .live-tag{position:absolute; z-index:10; width:100%; top:100px; left:0; margin-left:0;  padding:10px 0; height:70px; overflow:hidden;}
.type-sub-v2 .live-tag h3{position: absolute; top:15px; font-size:16px; display:block; }
.type-sub-v2 .live-tag h3 b{display:block; width:130px; height:40px; background:none; color:#52565d; font-size:20px; padding:0 0 0 30px; line-height:37px;}
.type-sub-v2 .live-tag h3 b::after{content:"태그"}
.type-sub-v2 .live-tag h3 span{display:none;}
.type-sub-v2 .live-tag .btn-more{display:none;}
.type-sub-v2 .live-tag .tags{float:left; display:block; width:100%; height:50px; overflow:hidden; height:auto; padding:0 0 0 150px; margin:0}
.type-sub-v2 .live-tag .tags::after{content:""; display:block; position: absolute;; top:0; right:0; width:50px; height:100%; background: linear-gradient(to left, #eef1f5, transparent);}
.type-sub-v2 .live-tag .tags .tag-group button {display:block; text-align:center; line-height:1; word-break: keep-all; position: relative; top:0 !important; left:0 !important; width:auto !important;  background:none; word-break: keep-all; white-space: nowrap; font-size:16px !important; padding:0 20px; border:none; border-radius:25px; height:50px !important; color:#656a72 !important; background:#fff; transition:background .2s ease-in-out;}
.type-sub .live-tag .tags .tag-group button.on,
.type-sub-v2 .live-tag .tags .tag-group button.on{background:#859bb8; color:#fff !important;}
.type-sub-v2 .live-tag .tags .tag-group li + li{margin-left:10px}
.type-sub-v2 .live-tag .tags .tag-group{display:flex; }
.type-sub-v2 .live-tag .tags .tag-group li{flex:0;}
.type-sub-v2 .live-tag .tags button{animation-name:none; }
.type-sub-v2 .live-tag .tags button span::before{content:"#"}
.type-sub-v2 .live-tag .tags button:hover{animation-play-state: paused;}

@keyframes dungdung{
    0% {margin-top:0; margin-left:0; transform:scale(1); opacity:1}
    10% {margin-top:2px; margin-left:2px;}
    20% {margin-top:0; margin-left:2px; opacity:0.7}
    40% {margin-top:0; margin-left:-2px; transform:scale(1.03)}
    60% {margin-top:-1px; margin-left:0;}
    80% {margin-top:-2px; margin-left:1px;}
    100% {margin-top:0; margin-left:0; transform:scale(1); opacity:1}
}

@media (max-width:1024px) {
    .live-tag{position:fixed; z-index:10; width:100%; top:auto; bottom:0; left:0; margin-left:0; background:url(/polaris/src/public/static/images/main/livetag-bg.png) no-repeat 0 0 / 100%; padding:2.9vw; height:17vw; overflow:hidden;}
    .live-tag h3{float:left; font-size:4vw; display:block; vertical-align:middle;}
    .live-tag h3 b{display:inline-block; width:15vw; height:8vw; background:url(/polaris/src/public/static/images/main/livetag-t.png) no-repeat 0 0 / contain; color:#fff;  padding:0 0 0 5.5vw; line-height: 7.5vw;}
    .live-tag h3 span{display:none;}
    .live-tag .btn-more{display:none;}

    .live-tag .tags{float:left; display:block; width:72vw; overflow-x:auto; height:auto; margin:0 0 0 2vw}
    .live-tag .tags .tag-group button{display:block; text-align:center; line-height:1.1; word-break: keep-all; position: relative; top:0 !important; left:0 !important; width:auto !important;  background:none; word-break: keep-all; white-space: nowrap; font-size:4vw !important; padding:0 2vw; border:1px solid #90b6e6; border-radius:1vw; height:8vw !important; color:#0056c1 !important;}
    .live-tag .tags .tag-group li + li{margin-left:1vw}

    .live-tag .tags .tag-group{display:flex;}
    .live-tag .tags .tag-group li{flex:1;}
    .live-tag .tags button{animation-name:none; }
    .live-tag .tags button:hover{animation-play-state: paused;}

    .type-sub .base-header{position:static; left:0;transform: none;}
    .type-sub .live-tag {padding-bottom:16px;height:56px; position:fixed; top:auto; bottom:13px; z-index:100; padding:10px 16px;}
    .type-sub .live-tag .tags {width:calc(100% - 92px); overflow-x:auto; height:58px;-webkit-overflow-scrolling:touch;padding-bottom:16px}
    .type-sub .live-tag::after{content:""; display:block; position:absolute; right:25px; width:20px; height:44px; top:8px; background: linear-gradient(to left, #fff, transparent);}
    .type-sub .live-tag .tags::-webkit-scrollbar {width:5px}
    .type-sub .live-tag .tags::-webkit-scrollbar-track {background-color:transparent}
    .type-sub .live-tag .tags::-webkit-scrollbar-thumb {border-radius:30px;background-color:#1f82ff;border:7px solid #fff;}
    .type-sub .live-tag .tags::-webkit-scrollbar-button {width:0;height:0}
    .type-sub .live-tag .tags .tag-group {display:block;white-space:nowrap; display:flex; flex-wrap: nowrap; overflow:auto;}
    .type-sub .live-tag .tags .tag-group li {display:inline-block; float: none; flex:1}
    .type-sub .live-tag .tags .tag-group li:last-child {padding-right:10px}


    .type-sub-v2 .live-tag{position:absolute; z-index:10; width:100%; top:56px; left:0; margin-left:0; background:#eef1f5; padding:0; height:51px; overflow:hidden;}
    .type-sub-v2 .live-tag h3{float:left; font-size:14px; display:none; top:12px}
    .type-sub-v2 .live-tag .btn-more{display:none;}

    .type-sub-v2 .live-tag .tags .tag-group button{display:block; text-align:center; line-height:1.1; word-break: keep-all; position: relative; top:0 !important; left:0 !important; width:auto !important;  background:#fff; word-break: keep-all; white-space: nowrap; font-size:14px !important; padding:0 10px; border:1px solid #90b6e6; border-radius:15px; height:30px !important; color:#0056c1 !important;}
    
    .type-sub-v2 .live-tag .tags::after{display:none;}
    .type-sub-v2 .live-tag .tags .tag-group li{margin-left:5px}
    .type-sub-v2 .live-tag .tags .tag-group li + li{margin-left:5px}

    .type-sub-v2 .live-tag .tags .tag-group{display:flex; padding:6px;}
    .type-sub-v2 .live-tag .tags .tag-group li{flex:1;}
    .type-sub-v2 .live-tag .tags button{animation-name:none; }
    .type-sub-v2 .live-tag .tags button:hover{animation-play-state: paused;}

    .type-sub-v2 .live-tag .tags {width:100%; padding:0; overflow-x:auto; height:55px;}

    .type-sub-v2 .live-tag .tags .tag-group {display:block;white-space:nowrap}
    .type-sub-v2 .live-tag .tags .tag-group li {display:inline-block}
    .type-sub-v2 .live-tag .tags .tag-group li:last-child {padding-right:10px}

}









