<style>
    /* 사용후기 */
    .list-reply .col-1{width:80px}
    .list-reply .col-2{width:auto}
    .list-reply .col-3{width:120px}
    .list-reply .col-4{width:190px}
    
    @media (max-width:1024px) {

    }
</style>

<div class="list-reply">
    <div class="tbl-list">
        <table>
        <caption>번호,내용,후기 작성자, 날짜 정보의 작성한 사용후기 목록</caption>
        <colgroup>
            <col class="col-1">
            <col class="col-2">
            <col class="col-3">
            <col class="col-4">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">요청 제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            
        </tbody>
        </table>
    </div>
    <div class="components-paging"></div>
</div>

<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //components 불러오기
        $plugins.uiPageLoad('/polaris/src/components/common/paging.html', 'components-paging', function(v){
            $('.components-paging > *').unwrap();
        });


    })(jQuery, window, document);

</script> 