<style>
    /* 사용후기 */
    .list-visitor .col-1 {width:auto}
    .list-visitor .col-2 {width:300px}
    .list-visitor a{width:100%; display:block; text-align:center !important;}
    @media (max-width:1024px) {

    }
</style>
<div class="list-visitor">
    <div class="tbl-list">
        <table>
        <caption>번호, 제목, 받은회원, 학인시간, 보낸시간 정보의 작성한 사용후기 목록</caption>
        <colgroup>
            <col class="col-1">
            <col class="col-2">

        </colgroup>
        <thead>
            <tr>
                <th scope="col">날짜</th>
                <th scope="col">방문자수</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2020.06.25 ~ 2020.06.25</td>
                <td><a href="#">2333</a></td>
            </tr>
            <tr>
                <td>2020.06.25 ~ 2020.06.25</td>
                <td><a href="#">2333</a></td>
            </tr>
            <tr>
                <td>2020.06.25 ~ 2020.06.25</td>
                <td><a href="#">2333</a></td>
            </tr>
            <tr>
                <td>2020.06.25 ~ 2020.06.25</td>
                <td><a href="#">2333</a></td>
            </tr>
            <tr>
                <td>2020.06.25 ~ 2020.06.25</td>
                <td><a href="#">2333</a></td>
            </tr>
            <tr>
                <td>2020.06.25 ~ 2020.06.25</td>
                <td><a href="#">2333</a></td>
            </tr>
            <tr>
                <td>2020.06.25 ~ 2020.06.25</td>
                <td><a href="#">2333</a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
