<style>
    /* 사용후기 */
    .list-notice .col-1 {width:100px}
    .list-notice .col-2 {width:140px}
    .list-notice .col-3 {width:auto}
    .list-notice .col-4{width:190px}
    .list-notice .col-5{width:120px}

    @media (max-width:1024px) {

    }
</style>

<div class="list-notice">
    <div class="tbl-list">
        <table>
        <caption>번호,요청제목,구매의사POLA, 작성자, 날짜, 조회수, 공감수 정보의 작성한 사용후기 목록</caption>
        <colgroup>
            <col class="col-1">
            <col class="col-2">
            <col class="col-3">
            <col class="col-4">
            <col class="col-5">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">분류</th>
                <th scope="col">제목</th>
                <th scope="col">날짜</th>
                <th scope="col">조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2333</td>
                <td class="notice-type">공지사항</td>
                <td>
                    <a href="#">
                        <div>JRC Science for Policy Report</div>
                        <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
                <td>300</td>
            </tr>
            <tr>
                <td>2333</td>
                <td class="notice-type">보도자료</td>
                <td>
                    <a href="#">
                        <div>JRC Science for Policy Report</div>
                        <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
                <td>300</td>
            </tr>
            <tr>
                <td>2333</td>
                <td class="notice-type">이벤트</td>
                <td>
                    <a href="#">
                        <div>JRC Science for Policy Report</div>
                        <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
                <td>300</td>
            </tr>
            <tr>
                <td>2333</td>
                <td class="notice-type">공지사항</td>
                <td>
                    <a href="#">
                        <div>JRC Science for Policy Report</div>
                        <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
                <td>300</td>
            </tr>
            <tr>
                <td>2333</td>
                <td class="notice-type">공지사항</td>
                <td>
                    <a href="#">
                        <div>JRC Science for Policy Report</div>
                        <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
                <td>300</td>
            </tr>
            
        </tbody>
        </table>
    </div>

    <div class="paging">
        <button type="button" class="paging-first">
            <i class="sp-ico-paging-first"></i>
            <span class="hide">처음으로</span>
        </button>
        <button type="button" class="paging-prev">
            <i class="sp-ico-paging-prev"></i>
            <span class="hide">이전</span>
        </button>
        <button type="button" class="paging-num current">1</button>
        <button type="button" class="paging-num">2</button>
        <button type="button" class="paging-num">3</button>
        <button type="button" class="paging-num">4</button>
        <button type="button" class="paging-num">5</button>
        <button type="button" class="paging-next">
            <i class="sp-ico-paging-next"></i>
            <span class="hide">다음</span>
        </button>
        <button type="button" class="paging-last">
            <i class="sp-ico-paging-last"></i>
            <span class="hide">마지막으로</span>
        </button>
    </div>
</div>
