<div class="list-item-a">
    <div class="list-item-wrap">
        <div class="box-img"><span class="img-item"><img src="/polaris/src/public/static/images/temp/@temp1.jpg" alt=""></span></div>
        <div class="item-info">
            <a href="" class="link-item">
                <p class="item-title">폴라리스쉐어에서는 사용자가 파일형태로 저장하고 있는 지식</p>
                <p class="item-des">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의</p>
                <p class="item-type">
                    <span class="type-items">Marketing.ppt</span>
                    <span class="type-items">dongkim</span>
                    <span class="type-items">east555</span>
                </p>
            </a>
            <p class="sympathy"><i class="sp-ico-interest"></i><span class="sympathy-value">100</span></p>
        </div>
    </div>
</div>