<style>
    /* 사용후기 */
    .list-reviews .col-1{width:120px}
    .list-reviews .col-2{width:auto}
    .list-reviews .col-7{width:150px}
    .list-reviews .col-5{width:250px}
    
    @media (max-width:1024px) {

    }
</style>

<div class="list-reviews">
    <table class="tbl-list">
        <caption>번호,내용,후기 작성자, 날짜 정보의 작성한 사용후기 목록</caption>
        <colgroup>
            <col class="col-1">
            <col class="col-2">
            <col class="col-3">
            <col class="col-4">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">요청 제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>eadt555</td>
                <td>2020.06.25 12:00</td>
            </tr>
            
        </tbody>
    </table>

    <div class="paging">
        <button type="button" class="paging-first">
            <span class="hide">처음으로</span>
        </button>
        <button type="button" class="paging-prev">
            <span class="hide">이전</span>
        </button>
        <button type="button" class="paging-num current">1</button>
        <button type="button" class="paging-num">2</button>
        <button type="button" class="paging-num">3</button>
        <button type="button" class="paging-num">4</button>
        <button type="button" class="paging-num">5</button>
        <button type="button" class="paging-num">6</button>
        <button type="button" class="paging-num">7</button>
        <button type="button" class="paging-num">8</button>
        <button type="button" class="paging-num">9</button>
        <button type="button" class="paging-num">10</button>
        <button type="button" class="paging-next">
            <span class="hide">다음</span>
        </button>
        <button type="button" class="paging-last">
            <span class="hide">마지막으로</span>
        </button>
    </div>
</div>
