<style>
    /* 사용후기 */
    .view-setnote .col-2 {width:auto}
    .view-setnote .col-3 {width:200px}
    .view-setnote .col-4 {width:200px}
    .view-setnote .col-5 {width:200px}
    .view-setnote tbody td .ellp{color:#787878; font-size:18px; display:inline-block; padding-top:3px }
    .view-setnote {margin-top:30px}
    .view-setnote .tit-b {padding-left:60px}
    .view-setnote .view-content {margin-bottom:20px}

    @media (max-width:1300px) {
        /* table */
        .view-setnote .tbl-list {width:100%;position:relative;overflow-x:auto;-webkit-overflow-scrolling:touch}
        .view-setnote .tbl-list table {width:100%}
    }

    @media (max-width:768px) {
        .view-setnote .tit-b {padding-left:0}
        .view-setnote .col-4 {width:120px}
        .view-setnote .col-5 {width:80px}
    }
</style>
<div>
    <div class="view-setnote">
        <div class="tbl-list">
            <table>
            <caption>번호, 제목, 받은회원, 학인시간, 보낸시간 정보의 작성한 사용후기 목록</caption>
            <colgroup>
                <col class="col-2">
                <col class="col-3">
                <col class="col-4">
                <col class="col-5">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">받은회원</th>
                    <th scope="col">학인시간</th>
                    <th scope="col">보낸시간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">
                            <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                        </a>
                    </td>
                    <td>
                        <div class="components-gn-dropmenu"></div>
                    </td>
                    <td>2020.06.25 12:00</td>
                    <td>2020.06.25 12:00</td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class="view-content">
            <img src="/polaris/src/public/static/images/temp/@temp3.jpg" alt="" />
            <br /><br />
            <p>
                그들이 AWS 위에서 데이터 파이프라인을 운영하는 법- <br />
                너무 좋습니다!!
            </p>
        </div>

        <div class="btn-wrap-r">
            <button type="button" class="btn-exception-b"><span>목록</span></button>
        </div>

    </div>
</div>
