<style>
    /* 사용후기 */
    .list-setnote .col-1 {width:100px}
    .list-setnote .col-2 {width:auto}
    .list-setnote .col-3 {width:200px}
    .list-setnote .col-4 {width:200px}
    .list-setnote .col-5 {width:200px}
    .list-setnote tbody td .ellp{color:#787878; font-size:18px; display:inline-block; padding-top:3px }
    @media (max-width:1024px) {

    }
</style>
<div>
    <div class="list-head fl-wrap">
        <div class="fl-item-r">
            <div class="components-search-list"></div>
        </div>
    </div>
    <div class="list-setnote">
        <div class="tbl-list">
            <table>
            <caption>번호, 제목, 받은회원, 학인시간, 보낸시간 정보의 작성한 사용후기 목록</caption>
            <colgroup>
                <col class="col-1">
                <col class="col-2">
                <col class="col-3">
                <col class="col-4">
                <col class="col-5">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">받은회원</th>
                    <th scope="col">학인시간</th>
                    <th scope="col">보낸시간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2333</td>
                    <td>
                        <a href="#">
                            <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                        </a>
                    </td>
                    <td>
                        <div class="components-gn-dropmenu"></div>
                    </td>
                    <td>2020.06.25 12:00</td>
                    <td>2020.06.25 12:00</td>
                </tr>
                <tr>
                    <td>2333</td>
                    <td>
                        <a href="#">
                            <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                        </a>
                    </td>
                    <td>
                        <div class="components-gn-dropmenu"></div>
                    </td>
                    <td>2020.06.25 12:00</td>
                    <td>2020.06.25 12:00</td>
                </tr>
                <tr>
                    <td>2333</td>
                    <td>
                        <a href="#">
                            <div class="ellp">노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를 노하우를 라이브러리라고 부르, 라이브러리를 자유롭게 공유하고 보상받는 새로운 개념의 노하우를</div>
                        </a>
                    </td>
                    <td>
                        <div class="components-gn-dropmenu"></div>
                    </td>
                    <td>2020.06.25 12:00</td>
                    <td>2020.06.25 12:00</td>
                </tr>
            
                
            </tbody>
            </table>
        </div>

        <div class="paging">
            <button type="button" class="paging-first">
                <i class="sp-ico-paging-first"></i>
                <span class="hide">처음으로</span>
            </button>
            <button type="button" class="paging-prev">
                <i class="sp-ico-paging-prev"></i>
                <span class="hide">이전</span>
            </button>
            <button type="button" class="paging-num current">1</button>
            <button type="button" class="paging-num">2</button>
            <button type="button" class="paging-num">3</button>
            <button type="button" class="paging-num">4</button>
            <button type="button" class="paging-num">5</button>
            <button type="button" class="paging-next">
                <i class="sp-ico-paging-next"></i>
                <span class="hide">다음</span>
            </button>
            <button type="button" class="paging-last">
                <i class="sp-ico-paging-last"></i>
                <span class="hide">마지막으로</span>
            </button>
        </div>
    </div>
</div>
<script>
    ;(function($, win, doc, undefined) {

        'use strict';

        //콜백실행
        var callbackItem1 = function(v){
            $('.components-gn-dropmenu > *').unwrap();
        }
        var callbackItem3 = function(v){
            $('.components-search-list > *').unwrap();
        }
        // //components 불러오기
        $plugins.uiPageLoad('/polaris/src/components/common/DropMenu.html', 'components-gn-dropmenu', callbackItem1)
        .then($plugins.uiPageLoad('/polaris/src/components/body/items/Search-list.html', 'components-search-list', callbackItem3));


    })(jQuery, window, document);

</script> 
