<style>
    /* 사용후기 */
    .list-reply .col-1{width:100px}
    .list-reply .col-2{width:auto}
    .list-reply .col-3{width:190px}
    
    @media (max-width:1024px) {

    }
</style>

<div class="list-reply">
    <div class="tbl-list">
        <table>
        <caption>번호,내용,후기 작성자, 날짜 정보의 작성한 사용후기 목록</caption>
        <colgroup>
            <col class="col-1">
            <col class="col-2">
            <col class="col-3">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">확인시간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
            </tr>
            <tr>
                <td>2333</td>
                <td>
                    <a href="#">
                        <div class="ellp tit">혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요혼자보기 아까워서 작성합니다. 모두들 즐하세요 </div>
                    </a>
                </td>
                <td>2020.06.25 12:00</td>
            </tr>
            
        </tbody>
        </table>
    </div>
    <div class="paging">
        <button type="button" class="paging-first">
            <i class="sp-ico-paging-first"></i>
            <span class="hide">처음으로</span>
        </button>
        <button type="button" class="paging-prev">
            <i class="sp-ico-paging-prev"></i>
            <span class="hide">이전</span>
        </button>
        <button type="button" class="paging-num current">1</button>
        <button type="button" class="paging-num">2</button>
        <button type="button" class="paging-num">3</button>
        <button type="button" class="paging-num">4</button>
        <button type="button" class="paging-num">5</button>
        <button type="button" class="paging-next">
            <i class="sp-ico-paging-next"></i>
            <span class="hide">다음</span>
        </button>
        <button type="button" class="paging-last">
            <i class="sp-ico-paging-last"></i>
            <span class="hide">마지막으로</span>
        </button>
    </div>
</div>
