<div class="user-item-e type-stats">
    <div class="user-summary">
        <div class="box-img"><span class="img-item"><img src="/polaris/src/public/static/images/temp/@temp1.jpg" alt=""></span></div>
        <div class="item-type">
            <span class="type-items">JRC Science for Policy Repor</span>
            <span class="type-items">Marketing.ppt</span>
            <span class="type-items">KOR</span>
        </div>
        <div class="item-date">2020.06.25  12:00</div>
    </div>
    <div class="user-info">
         <h3>통합 통계</h3>
        <dl class="user-info-item">
            <dt class="user-info-title">Views</dt>
            <dd class="user-info-value"><a href="#">555</a></dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">Votes</dt>
            <dd class="user-info-value"><a href="#"><b>555POLA</b></a></dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">Share</dt>
            <dd class="user-info-value"><a href="#">57</a></dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">buy</dt>
            <dd class="user-info-value"><a href="#">555</a></dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">Download</dt>
            <dd class="user-info-value"><a href="#">555</a></dd>
        </dl>
    </div>
</div>