<div class="user-item-g">
    <div class="user-summary">
        <div class="box-person">
            <p class="person-lv">회원 레벨<span class="person-lv-value">Legend</span><button type="button" class="btn-exception-c">회원등급 안내</button></p>
            <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
            <p class="person-name">chrislee</p>
        </div>
    </div>
    <div class="user-info">
        <div class="user-info-list">
            <dl class="user-info-item">
                <dt class="user-info-title">보유 달러</dt>
                <dd class="user-info-value">$100</dd>
                <dd class="user-info-btn">
                    <div class="info-btn-col"><button type="button" class="btn-basic-c small">내역보기</button></div>
                    <div class="info-btn-col"><button type="button" class="btn-basic-e small">달러로 환전하기</button></div>
                </dd>
            </dl>
            <dl class="user-info-item">
                <dt class="user-info-title">보유 총 POLA</dt>
                <dd class="user-info-value">3,500 POLA</dd>
                <dd class="user-info-btn">
                    <div class="info-btn-col"><button type="button" class="btn-basic-c small">내역보기</button></div>
                    <div class="info-btn-col"><button type="button" class="btn-basic-e small">POLA로 환전하기</button></div>
                </dd>
            </dl>
            <dl class="user-info-item">
                <dt class="user-info-title">투표한 POLA</dt>
                <dd class="user-info-value">150 POLA</dd>
                <dd class="user-info-btn">
                    <div class="info-btn-col"><button type="button" class="btn-basic-c small">내역보기</button></div>
                </dd>
            </dl>
            <dl class="user-info-item">
                <dt class="user-info-title">투표 받은 POLA</dt>
                <dd class="user-info-value">30 POLA</dd>
                <dd class="user-info-btn">
                    <div class="info-btn-col"><button type="button" class="btn-basic-c small">내역보기</button></div>
                </dd>
            </dl>
        </div>
    </div>
</div>