<div class="user-summary">
    <div class="box-person">
        <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
        <div class="person-info">
            <p class="person-lv">Lv. <span class="person-lv-value">Legend</span></p>
            <p class="person-name"><a href="" class="link-person">chrislee</a></p>
        </div>
    </div>
    <dl class="record-item">
        <dt class="record-title">받은 POLA</dt>
        <dd class="record-value">500</dd>
    </dl>
</div>