<div class="user-item-a">
    <div class="user-item-wrap">
        <div class="user-summary">
            <div class="box-person">
            <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
                <div class="person-info">
                    <p class="person-lv">Lv. <span class="person-lv-value">Legend</span></p>
                    <p class="person-name"><a href="" class="link-person">chrislee</a></p>
                </div>
            </div>
            <dl class="record-item">
                <dt class="record-title">업로드 문서</dt>
                <dd class="record-value">12개</dd>
            </dl>
            <dl class="record-item">
                <dt class="record-title">투표한 문서</dt>
                <dd class="record-value">25개</dd>
            </dl>
        </div>
        <div class="user-info">
            <dl class="user-info-item">
                <dt class="user-info-title">보유 달러</dt>
                <dd class="user-info-value">$100</dd>
            </dl>
            <dl class="user-info-item">
                <dt class="user-info-title">보유 총 POLA</dt>
                <dd class="user-info-value">3,500 POLA</dd>
            </dl>
            <dl class="user-info-item">
                <dt class="user-info-title">투표한 POLA</dt>
                <dd class="user-info-value">150 POLA</dd>
            </dl>
            <dl class="user-info-item">
                <dt class="user-info-title">투표 받은 POLA</dt>
                <dd class="user-info-value">30 POLA</dd>
            </dl>
        </div>
    </div>
</div>