<div class="user-item-f">
    <div class="user-summary">
        <div class="box-person">
            <p class="person-lv">Lv.<span class="person-lv-value">Legend</span></p>
            <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
            <p class="person-name"><a href="" class="link-person">chrislee</a></p>
        </div>
        <dl class="record-item">
            <dt class="record-title">업로드 문서</dt>
            <dd class="record-value">12개</dd>
        </dl>
        <dl class="record-item">
            <dt class="record-title">투표한 문서</dt>
            <dd class="record-value">12개</dd>
        </dl>
        <dl class="record-item">
            <dt class="record-title">투표 POLA</dt>
            <dd class="record-value pola">500 POLA</dd>
        </dl>
    </div>
</div>