
<main class="base-body">
    <div class="literary-wrap">
        <h1 class="title-type-a">저작권</h1>
        <!-- S : literary-item -->
        <dl class="literary-item">
            <dt class="literary-title">'저작권'이란 무엇인가요?</dt>
            <dd class="literary-content">
                <p class="literary-sub-title">어떤 유형의 저작물이 저작권의 적용을 받나요?</p>
                <p class="literary-des-a">저작권 소유는 일부 예외적인 경우를 제외하고 소유자에게 해당 저작물을 사용할 독점권을 부여합니다.<br>
                    원본이 만들어져서 유형의 매체로 완성되면 자동으로 저작권을 소유하게 됩니다.</p>
                <p class="literary-des-a">다음을 비롯한 여러 저작물 유형이 저작권 보호를 받을 수 있습니다.</p>
                <div class="box-literary">
                    <ul class="dot-list">
                        <li class="list-item">TV 프로그램, 영화, 온라인 동영상 등의 시청각 작품</li>
                        <li class="list-item">음원 및 음악작품</li>
                        <li class="list-item">강연, 기사, 도서, 음악작품 등의 저술 작품</li>
                        <li class="list-item">그림, 포스터, 광고 등의 시각 작품</li>
                        <li class="list-item">비디오 게임 및 컴퓨터 소프트웨어</li>
                        <li class="list-item">연극, 뮤지컬 등의 드라마 작품</li>
                    </ul>
                </div>
                <p class="literary-des-b">미국 저작권청 웹사이트에서 제공하는 정보를 참조하실 수 있습니다. 더 자세한 내용은 변호사와 상담하시기 바랍니다.</p>
            </dd>
        </dl>
        <!-- E : literary-item -->
        <!-- S : literary-item -->
        <dl class="literary-item">
            <dt class="literary-title">저작권을 침해하지 않고 저작권이 보호되는 저작물을 사용할 수 있나요?</dt>
            <dd class="literary-content">
                <p class="literary-des-a">소유자의 저작권을 침해하지 않고도 저작권이 보호되는 저작물을 사용할 수 있는 경우도 있습니다. 이에 대한 자세한 내용은 공정 사용에서 알아볼 수 있습니다. </p>
                <p class="literary-des-a">다음과 같은 경우라 하더라도 저작권 침해 소송에 대한 대응으로 귀하의 콘텐츠가 삭제될 수 있음에 유의하시기 바랍니다.</p>
                <div class="box-literary">
                    <ul class="dot-list">
                        <li class="list-item">저작권 소유자에 대한 출처를 표시한 경우</li>
                        <li class="list-item">하드카피본 또는 디지털 사본을 포함하여 콘텐츠를 구매한 경우</li>
                        <li class="list-item">저작권 침해 콘텐츠를 수익 창출에 사용하지 않은 경우</li>
                        <li class="list-item">TV, 극장, 라디오에서 콘텐츠를 직접 녹음한 경우</li>
                        <li class="list-item">해당 콘텐츠 사본에 대해 비용을 청구받은 경우</li>
                        <li class="list-item">교과서, 영화 포스터 또는 사진에서 직접 콘텐츠를 복사한 경우</li>
                        <li class="list-item">다른 인터넷 사이트에 있는 것과 유사한 콘텐츠임을 확인한 경우</li>
                        <li class="list-item">'저작권 침해 의사 없음'이라고 명시한 경우</li>
                    </ul>
                </div>
                <p class="literary-des-b">일부 콘텐츠 제작자의 경우 특정 요구사항을 충족하면 자신의 저작물을 재사용하도록 허용합니다. 이에 대한 자세한 내용은 크리에이티브 커먼즈 라이선스에서 알아볼 수 있습니다.</p>
            </dd>
        </dl>
        <!-- E : literary-item -->
        <!-- S : literary-item -->
        <dl class="literary-item">
            <dt class="literary-title">폴라리스 쉐어에서 저작권 소유 여부를 판단할 수 있나요?</dt>
            <dd class="literary-content">
                <p class="literary-des-a">아니요. 폴라리스 쉐어는 저작권 소유 분쟁을 중재할 수 없습니다. 완전하고 유효한 게시 중단 요청이 접수되면 폴라리스 쉐어은 법에 따라 해당 콘텐츠를 삭제합니다.<br>
                    유효한 반론 통지를 접수하면 폴라리스 쉐어은 삭제를 요청한 당사자에게 이를 전달합니다. 그 후에도 여전히 분쟁이 지속될 경우 법정에서 문제를 해결하는 것은 관련된 당사자들의 선택입니다.</p>
            </dd>
        </dl>
        <!-- E : literary-item -->
        <!-- S : literary-item -->
        <dl class="literary-item">
            <dt class="literary-title">저작권과 상표권의 차이점은 무엇인가요? 특허는 어떤가요?</dt>
            <dd class="literary-content">
                <p class="literary-des-a">저작권은 지적 재산의 한 가지 형태에 불과합니다. 다른 사람이 특정 용도로 브랜드 이름, 모토, 로고 및 기타 출처 식별자를 사용하지 못하도록 보호하는 상표권과 다르며 또한 발명품을 보호하는 특허법과도 다릅니다.</p>
            </dd>
        </dl>
        <!-- E : literary-item -->
        <!-- S : literary-item -->
        <dl class="literary-item">
            <dt class="literary-title">저작권과 개인정보 보호의 차이점은 무엇인가요?</dt>
            <dd class="literary-content">
                <p class="literary-des-a">동영상이나 이미지, 오디오 녹음에 본인이 나타난다고 해서 이에 대한 저작권을 소유하는 것은 아닙니다. 예를 들어, 귀하의 친구가 귀하의 모습을 사진으로 촬영한 경우, 촬영된 이미지에 대한 저작권은 친구에게 있습니다.
                    친구 또는 다른 사람이 본인의 허가 없이 귀하가 등장하는 동영상, 이미지 또는 음원을 업로드했는데 이로 인해 본인의 개인정보 또는 안전이 침해된다고 생각하는 경우 개인정보 침해를 신고할 수 있습니다.</p>
            </dd>
        </dl>
        <!-- E : literary-item -->
        <!-- S : literary-item -->
        <dl class="literary-item">
            <dt class="literary-title">저작권 침해 신고서 필수 기재사항</dt>
            <dd class="literary-content">
                <p class="literary-des-a">저작권 침해 신고서는 다음 내용을 반드시 포함해야 합니다. 이러한 정보 없이는 귀하의 요청에 대한 조치를 취할 수 없습니다.</p>
                <div class="box-literary">
                    <ul class="number-list">
                        <li class="list-item">
                            <p class="list-item-title">1. 연락처 정보</p>
                            <p class="list-item-txt">침해 신고와 관련하여 폴라리스 쉐어에서 연락을 취할 수 있는 정보(예: 이메일 주소, 실제 주소 또는 전화번호)를 제공해야 합니다.</p>
                        </li>
                        <li class="list-item">
                            <p class="list-item-title">2. 저작권이 침해된 것으로 판단되는 저작물에 대한 설명</p>
                            <p class="list-item-txt">신고서에 보호하고자 하는 저작권이 있는 콘텐츠를 완전하고 분명하게 설명해야 합니다. 저작권이 있는 저작물이 신고서에 여러 개 포함된 경우 법적으로
                                이러한 저작물의 대표 목록을 사용할 수 있습니다.</p>
                        </li>
                        <li class="list-item">
                            <p class="list-item-title">3. 저작권 침해가 의심되는 각 콘텐츠의 URL</p>
                            <p class="list-item-txt">신고서에는 권리가 침해된 것으로 생각되는 콘텐츠의 구체적인 URL을 포함해야 합니다. 그렇지 않으면 폴라리스 쉐어에서 해당 콘텐츠를 찾을 수 없습니다.<br>
                                콘텐츠의 위치에 대한 일반 정보로는 충분하지 않습니다. 문제가 되고 있는 정확한 콘텐츠의 URL을 포함하시기 바랍니다.</p>
                        </li>
                        <li class="list-item">
                            <p class="list-item-title">4. 다음 두 개의 진술에 대해 동의하고 확인해야 합니다.</p>
                            <p class="list-item-txt">“본인은 저작권 침해가 의심되는 웹페이지에서 위에서 진술한 저작권 자료를 사용하는 행위가 저작권 소유자, 그 대리인 또는 법에 의해 허가되지 않았다고
                                확신합니다.” 그리고 “본인은 위증 시 처벌을 받는다는 조건 하에, 신고서의 정보가 정확하며 본인이 저작권 소유자이거나 침해받은 것으로 의심되는 독점권
                                소유자를 대행할 권리를 위임받은 대리인임을 맹세합니다.”</p>
                        </li>
                        <li class="list-item">
                            <p class="list-item-title">5. 서명</p>
                            <p class="list-item-txt">신고서 작성을 완료하려면 저작권 소유자 또는 소유자의 권한을 위임받은 대리인의 실제 또는 전자 서명이 필요합니다. 신고서 하단에 서명으로 사용할
                                실명을 입력해도 이 요건이 충족됩니다.</p>
                        </li>
                    </ul>
                </div>
            </dd>
        </dl>
        <!-- E : literary-item -->
    </div>
</main>