<div class="recommend-member-item">
    <div class="person-level"><img src="/polaris/src/public/static/images/sub/member-level-a.jpg" alt="Legend"></div>
    <div class="box-person">
        <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
        <div class="person-info">
            <p class="person-name"><a href="" class="link-person">chrislee</a></p>
        </div>
    </div>
    <p class="pola-data">받은 POLA<span class="point-color-a">500</span></p>
</div>