<div class="user-item-c v2">
    <div class="box-person">
        <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
        <div class="person-info">
            <p class="person-lv">Lv. <span class="person-lv-value">Legend</span></p>
            <p class="person-name"><a href="" class="link-person">chrislee</a></p>
        </div>
    </div>
    <div class="user-info">
        <dl class="user-info-item">
            <dt class="user-info-title">총 보유 머니</dt>
            <dd class="user-info-value">$100</dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">총 보유 POLA</dt>
            <dd class="user-info-value">3,500 <span class="txt-unit">POLA</span></dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">Follower</dt>
            <dd class="user-info-value type-a">58</dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">Follower POLA</dt>
            <dd class="user-info-value">300 <span class="txt-unit">POLA</span></dd>
        </dl>
    </div>
</div>