<div class="user-item-e">
    <div class="user-summary">
        <div class="box-person">
            <p class="person-lv">회원 레벨<span class="person-lv-value">Legend</span></p>
            <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
            <p class="person-name">chrislee</p>
        </div>
        <div class="btn-list">
            <button type="button" class="btn-basic-e small">Follow</button>
            <button type="button" class="btn-basic-e small">Vote</button>
            <button type="button" class="btn-basic-e small">쪽지 보내기</button>
        </div>
    </div>
    <div class="user-info">
        <dl class="user-info-item">
            <dt class="user-info-title">보유 달러</dt>
            <dd class="user-info-value">$100</dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">보유 총 POLA</dt>
            <dd class="user-info-value">3,500 POLA</dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">투표한 POLA</dt>
            <dd class="user-info-value">150 POLA</dd>
        </dl>
        <dl class="user-info-item">
            <dt class="user-info-title">투표 받은 POLA</dt>
            <dd class="user-info-value">30 POLA</dd>
        </dl>
    </div>
</div>