<div class="user-item-b">
    <div class="user-summary">
        <div class="box-person">
            <div class="person-img"><img src="/polaris/src/public/static/images/main/empty-user.png" alt=""></div>
            <div class="person-info">
                <p class="person-lv">Lv. <span class="person-lv-value">Legend</span></p>
                <p class="person-name"><a href="" class="link-person">chrislee</a></p>
            </div>
        </div>
        <div class="user-data">
            <div class="user-data-value">$100</div>
            <div class="user-data-value">3,500 POLA</div>
        </div>
    </div>
</div>