<div style="">
    <p style="font-size:16px;color:#000;font-weight:500;">card item</p>
    <div class="card-list-a">
        <!-- S : card-item unit -->
        <div class="card-item"></div>
        <!-- E : card-item unit -->
        <!-- S : card-item unit -->
        <div class="card-item"></div>
        <!-- E : card-item unit -->
        <!-- S : card-item unit -->
        <div class="card-item"></div>
        <!-- E : card-item unit -->
        <!-- S : card-item unit -->
        <div class="card-item"></div>
        <!-- E : card-item unit -->
        <!-- S : card-item unit -->
        <div class="card-item"></div>
        <!-- E : card-item unit -->
        <!-- S : card-item unit -->
        <div class="card-item"></div>
        <!-- E : card-item unit -->
        <!-- S : card-item unit -->
        <div class="card-item"></div>
        <!-- E : card-item unit -->
    </div>
    <button type="button" class="btn-more-c">띔보기</button>

</div>

<script>
    ;(function($, win, doc, undefined) {
        'use strict';
        // page load
        var callbackCardItem = function(){
            console.log(`CardItem load`);
        }
        $plugins.uiPageLoad('/polaris/src/components/body/items/card-item.html', 'card-item', callbackCardItem);
    })(jQuery, window, document);

</script>