<style>
    .g-h2{font-size:30px; margin:30px 0 5px; color:#000000}
    .g-h3{font-size:20px; margin:10px 0 5px; color:#000;}
    .g-h3::before{content:"- "}
</style>

<main class="base-body">

    <!-- 
        components로 불러오는 경우
        components- 로 시작하는 클래스로 영역생성.
        components- 에는 스타일을 주지 않는다.
        components- 부분은 안에 코드를 불러온 후 삭제된다. react와 비슷한 구조를 만들기 위해 처리 
    -->
    <h2 class="g-h2">Title</h2>
    <h3 class="title-type-a">page title</h3>
    <h3 class="title-type-b">18px title</h3>
    <h3 class="title-type-c">20px title</h3>


    <h2 class="g-h2">Button</h2>
    <button type="button" class="btn-more-a"><span>more</span></button>
    <button type="button" class="btn-more-b"><span>more</span></button>
    <br>
    <button type="button" class="btn-more-c"><span>더보기</span></button>
    <br>
    <button type="button" class="btn-more-d"><span>더보기</span></button>
    <br>
    <button type="button" class="btn-text-a tag-result-more"><span>관련태그 더보기</span></button>
    <br>
    <button type="button" class="btn-basic-a"><span>btn-basic-a</span></button>
    <button type="button" class="btn-basic-b"><span>btn-basic-b</span></button>
    <button type="button" class="btn-basic-c"><span>btn-basic-c</span></button>
    <button type="button" class="btn-basic-d"><span>btn-basic-d</span></button>
    <button type="button" class="btn-basic-e"><span>btn-basic-e</span></button>
    <button type="button" class="btn-basic-f"><span>btn-basic-f</span></button>
    <button type="button" class="btn-basic-g"><span>btn-basic-g</span></button>
    <br>
    <button type="button" class="btn-basic-a medium"><span>btn-basic-a</span></button>
    <button type="button" class="btn-basic-b medium"><span>btn-basic-b</span></button>
    <button type="button" class="btn-basic-c medium"><span>btn-basic-c</span></button>
    <button type="button" class="btn-basic-d medium"><span>btn-basic-d</span></button>
    <button type="button" class="btn-basic-e medium"><span>btn-basic-e</span></button>
    <button type="button" class="btn-basic-f medium"><span>btn-basic-f</span></button>
    <button type="button" class="btn-basic-g medium"><span>btn-basic-g</span></button>
    <br>
    <button type="button" class="btn-basic-a small"><span>btn-basic-a</span></button>
    <button type="button" class="btn-basic-b small"><span>btn-basic-b</span></button>
    <button type="button" class="btn-basic-c small"><i class="sp-ico-interest2"></i><span>공감하기</span><span class="count-value">100</span></button>
    <button type="button" class="btn-basic-d small"><span>btn-basic-d</span></button>
    <button type="button" class="btn-basic-e small"><span>btn-basic-e</span></button>
    <button type="button" class="btn-basic-f small"><span>btn-basic-f</span></button>
    <button type="button" class="btn-basic-g small"><span>btn-basic-g</span></button>
    <br>
    <button type="button" class="btn-exception-a"><span>btn-exception-a</span></button>
    <button type="button" class="btn-exception-b"><span>목록</span></button>
    <button type="button" class="btn-exception-c"><span>회원등급 안내</span></button>

    <h2 class="g-h2">Tab</h2>
    <h3 class="g-h3">Tab A</h3>
    <!-- S : tab -->
    <div class="tab-wrap-a">
        <ul class="tab-list">
            <li class="tab-item"><a href="" class="link-tab">사용후기</a></li>
            <li class="tab-item"><a href="" class="link-tab">Library 요청하기</a></li>
            <li class="tab-item active"><a href="" class="link-tab">추천 회원</a></li>
        </ul>
    </div>
    <!-- E : tab -->
    <h3 class="g-h3">Tab B</h3>
    <!-- S : tab -->
    <div class="tab-wrap-b">
        <ul class="tab-list">
            <li class="tab-item"><button type="button" class="link-tab">업로드 Library<span class="count-value">[12]</span></button></li>
            <li class="tab-item"><button type="button" class="link-tab active">투표한 Library<span class="count-value">[12]</span></button></li>
            <li class="tab-item"><button type="button" class="link-tab">작성한 사용후기<span class="count-value">[12]</span></button></li>
            <li class="tab-item"><button type="button" class="link-tab">작성한 Library 요청글<span class="count-value">[12]</span></button></li>
            <li class="tab-item"><button type="button" class="link-tab">작성한 댓글<span class="count-value">[12]</span></button></li>
        </ul>
    </div>
    <!-- E : tab -->

    <h2 class="g-h2">List</h2>
    <h3 class="g-h3">card item</h3>
    <div class="card-list-a">
        <!-- S : card-item unit -->
        <div class="components-card-item-1"></div>
        <!-- E : card-item unit -->
    </div>
    


    <h3 class="g-h3">card item 3개</h3>
    <div class="card-list-b">
        <!-- S : card-item unit -->
        <div class="components-card-item-2"></div>
        <!-- E : card-item unit -->
    </div>
    <h3 class="g-h3">list item</h3>
    <div class="box-list-a">
        <!-- S : list item unit -->
        <div class="components-list-item-a"></div>
        <!-- E : list item unit -->

    </div>
    <h3 class="g-h3">user item A</h3>
    <div class="user-list-a">
        <!-- S : user item unit -->
        <div class="components-user-item-a"></div>
        <!-- E : user item unit -->
    </div>
    <h3 class="g-h3">user item B</h3>
    <div class="user-list-b">
        <!-- S : user item unit -->
        <div class="components-user-item-b"></div>
        <!-- E : user item unit -->
    </div>
    <h3 class="g-h3">user item B-2</h3>
    <div class="user-list-b">
        <!-- S : user item unit -->
        <div class="components-user-item-b-2"></div>
        <!-- E : user item unit -->
    </div>
    <h3 class="g-h3">user item C</h3>
    <!-- S : user item unit -->
    <div class="components-user-item-c"></div>
    <!-- E : user item unit -->
    <h3 class="g-h3">user item C-2</h3>
    <!-- S : user item unit -->
    <div class="components-user-item-c-2"></div>
    <!-- E : user item unit -->
    <h3 class="g-h3">user item D</h3>
    <!-- S : user item unit -->
    <div class="components-user-item-d"></div>
    <!-- E : user item unit -->
    <h3 class="g-h3">user item E</h3>
    <!-- S : user item unit -->
    <div class="components-user-item-e"></div>
    <!-- E : user item unit -->
    <h3 class="g-h3">user item F 6개</h3>
    <!-- S : user item unit -->
    <div class="user-list-c">
        <!-- S : user item unit -->
        <div class="components-user-item-f"></div>
        <!-- E : user item unit -->
    </div>
    <h3 class="g-h3">user item F 3개</h3>
    <div class="user-list-d">
        <!-- S : user item unit -->
        <div class="components-user-item-f"></div>
        <!-- E : user item unit -->
    </div>
    <h3 class="g-h3">user item g 1개</h3>
    <!-- S : user item unit -->
    <div class="components-user-item-g"></div>
    <!-- E : user item unit -->

</main>

<script>
    ;(function($, win, doc, undefined) {
        'use strict';
        // page load
        var callbackItem1 = function(v){
            //아이템 7개
            for (var i = 1, len = 7; i < len; i++) {
                $('.components-card-item-1').append(v);
            }
            $('.components-card-item-1 .card-item').unwrap();
        }
        var callbackItem2 = function(v){
            //아이템 3개
            for (var i = 1, len = 3; i < len; i++) {
                $('.components-card-item-2').append(v);
            }
            $('.components-card-item-2 .card-item').unwrap();
        }
        var callbackItem3 = function(v){
            //아이템 2개
            for (var i = 1, len = 2; i < len; i++) {
                $('.components-list-item-a').append(v);
            }
            $('.components-list-item-a .list-item-a').unwrap();
        }
        var callbackItem4 = function(v){
            //아이템 2개
            for (var i = 1, len = 2; i < len; i++) {
                $('.components-user-item-a').append(v);
            }
            $('.components-user-item-a .user-item-a').unwrap();
        }
        var callbackItem5 = function(v){
            //아이템 8개
            for (var i = 1, len = 8; i < len; i++) {
                $('.components-user-item-b').append(v);
            }
            $('.components-user-item-b .user-item-b').unwrap();
        }
        var callbackItem6 = function(v){
            //아이템 8개
            for (var i = 1, len = 8; i < len; i++) {
                $('.components-user-item-b-2').append(v);
            }
            $('.components-user-item-b-2 .user-item-b').unwrap();
        }
        var callbackItem7 = function(v){
            //아이템 1개
            $('.components-user-item-c .user-item-c').unwrap();
        }
        var callbackItem8 = function(v){
            //아이템 1개
            $('.components-user-item-c-2 .user-item-c').unwrap();
        }
        var callbackItem9 = function(v){
            //아이템 1개
            $('.components-user-item-d .user-item-d').unwrap();
        }
        var callbackItem10 = function(v){
            //아이템 1개
            $('.components-user-item-e .user-item-e').unwrap();
        }
        var callbackItem11 = function(v){
            //아이템 8개
            for (var i = 1, len = 8; i < len; i++) {
                $('.components-user-item-f').append(v);
            }
            $('.components-user-item-f .user-item-f').unwrap();
        }
        var callbackItem12 = function(v){
            //아이템 1개
            $('.components-user-item-g .user-item-g').unwrap();
        }

        $plugins.uiPageLoad('/polaris/src/components/body/items/card-item.html', 'components-card-item-1', callbackItem1)
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/card-item.html', 'components-card-item-2', callbackItem2))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/list-item.html', 'components-list-item-a', callbackItem3))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-a.html', 'components-user-item-a', callbackItem4))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-b.html', 'components-user-item-b', callbackItem5))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-b-2.html', 'components-user-item-b-2', callbackItem6))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-c.html', 'components-user-item-c', callbackItem7))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-c-2.html', 'components-user-item-c-2', callbackItem8))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-d.html', 'components-user-item-d', callbackItem9))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-e.html', 'components-user-item-e', callbackItem10))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-f.html', 'components-user-item-f', callbackItem11))
            .then($plugins.uiPageLoad('/polaris/src/components/body/items/user-item-g.html', 'components-user-item-g', callbackItem12));


    })(jQuery, window, document);

</script>